/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */


span.nameplate-date-weather {
    display:none !important;
}

.wp-post-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:visited {
    color: #451D6E;
}

hr {
	margin: 10px 0;
	border: 0;
	border-top: 1px solid #ADADAD;
	border-bottom: none;
}

p {
	margin: 0 0 15px;
	font-family:"Georgia",serif;
	line-height:1.38em;
}

figure {
	clear:both;
}
  
h2 {
	font-family: "Georgia";
	text-rendering:auto;
}  
h3 {
	color: #333;
	text-transform: uppercase;
	font-size: 1.4em;
	line-height: 1.2em;
}

img.ad {
	width:100%;
}

#backtotop {
	position: fixed;
	bottom: 20px;
	right: 0;
	padding-right: 7px;
	padding-left: 7px;
	background-color: #777;
	padding-top: 5px;
	padding-bottom: 3px;
	color: #FFF;
	text-transform:uppercase;
	font-weight:bold;
	font-size:11px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.segmented-box {
	border:1px solid #b2b2b2;
	padding:5px 10px;
	border-radius:5px;
	margin:5px 0;
	
	
	background: rgb(243,244,243); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,244,243,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,244,243,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,244,243,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,244,243,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,244,243,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(243,244,243,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f3', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}


[class^="headline-"],
[class*=" headline-"] {
	font-family: "Georgia";
	font-weight:400;
	font-size:24px;
	line-height: 25px;
	margin-bottom:3px;
	text-rendering:auto;
	color:#333;
}
a.[class^="headline-"]:hover,
a.[class*=" headline-"]:hover {
	color:#333;
	text-decoration:underline;
}
.headline-a {
	font-family: "Georgia";
	font-weight: bold;
	font-size: 1.8em;
	line-height: 1.1em;
    margin-top:2px;
}
 
.headline-b {
	font-family: "Georgia";
	font-weight:bold;
	font-size: 1.5em;
	line-height: 1.1em;
    margin-top:2px;
}

.headline-c {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2em;
    margin-top:2px;
}

.headline-d {
    font-size: 1em;
    line-height: 0.9em;
    font-weight: bold;
}


.headline-column {
	font-style:italic;
}

.timestamp {
	color: #AAA;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
}

.timestamp-now {
	color:#f89406;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2);
}

.label-right {
	float:right;
}


.photocredit {
    font-style: italic;
    display: block;
    float: right;
    text-align: right;
    opacity:0.5;
    font-size: 0.8em;
}
.photocredit a {
	color:#333;
	font-weight:bold;
}

.byline {
	font-family: "Georgia";
	font-size: 0.8em;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
}

.byline a {
	color:#333;
}

#comment-policy {
	font-style: italic;
	font-size: 1em;
	margin-top: 10px;
}

.thumbnail-a {
	float: right;
	margin-left: 10px;
	width: 90px;
	height: 90px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

article {
	display:block;
	margin:0 0 23px 0;
	clear:both;
}

#front-secondarycol > article:nth-child(2) {
	margin-bottom:5px;
}
#front-secondarycol > hr {
	margin:5px 0;
}

.label-now,
.badge-now {
	background-color:#f89406;
}



/* --- top links */
.nameplate-image {
	padding-bottom: 10px;
	padding-top:10px;
	height:60px;
	display:inline;
}

.navlist {
    list-style: none;
    display: block;
}
#toplinks-info {
    padding:0;
    text-align:right;
}

#toplinks-info li {
	padding:0;
	line-height:13px;
}
#toplinks-info li a {
	color:#777;
	font-size: 12px;
}
#toplinks-info li a:hover {
	color:#236fae;
}

div#toplinks ul, div#toplinks div {
    background-color: #ededed;
    border-radius: 0px 0px 3px 3px;
}

div#toplinks-socialmedia {
	padding:3px 0;
	text-align:center;
}

#toplinks-info li a#toplinks-info-donate, #toplinks-info li.menu-donate a {
	color:#234a2c;
	font-weight:bold;
	line-height:16px;
}
#nameplate {
	text-align:center;
	position:relative;
}
#nameplate > a {
    display: inline;
    text-align: center;
}
#nameplate-mobile {
	width: 202px;
	margin-top: 7px;
	margin-left: 31px; /* offset for the button */
}

#nameplate-date {
    color: white;
    background-color: #333;
    display: block;
    height: 46px;
    top: 35px;
    position: relative;
    border-radius: 3px 3px 0 0;
}

#nameplate-app-refer {
	position: absolute;
	bottom: 0;
	left: 20px;
	display: block;
    overflow: hidden;
    width: 138px;
	height: 76px;
}
#nameplate-app-refer img {
    width: 61px;
    margin-bottom: -17px;
    position: absolute;
    left: 40px;
    bottom: 0;
}
#nameplate-app-refer span {
	position: absolute;
	z-index: 1;
	color: #555;
	font-weight: bold;
	margin: 0;
	padding: 0;
	left: 0;
	text-shadow: 0 0 2px white;
	font-size: 0.8rem;
	line-height: 0.9rem;
	bottom: 38px;
}


.nameplate-date-week {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 5px;
    padding-left:17px;
}

.nameplate-date-today {
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 2px;
    padding-left:17px;
}

.nameplate-date-weather {
    display: block;
    float: left;
    position: absolute;
    top: 10px;
    left: 8px;
}
.nameplate-date-weather a span {
	color:white;
	display:block;
    margin-top: -11px;
    text-shadow: 0 0 5px black;
}
.nameplate-date-weather a:hover {
	text-decoration:none;
	color:#222;
}

#menu-mobile-navigation {
	list-style:none;
	margin:0;
	padding:0;
    padding-bottom: 15px;
    margin-left: 30px;
    margin-top: 0px;
} 
#menu-mobile-navigation li {
	text-align: left;
}
#menu-mobile-navigation li a {
	color: #ADADAD;
	font-size: 1rem;
	display: block;
	padding: 8px 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	padding-left: 15px;
}
#menu-mobile-navigation li a:hover {
	color:white;
	text-decoration:none;
}
#menu-mobile-navigation li.active a {
	color: white;
	background-color: #111;
	border-radius: 5px;
	border: 1px solid #252525;
	box-shadow: inset 0 0 6px black;
}



/* --- top-level navigation */

div#firstnav-container-back {
	border-top: 1px solid #ADADAD;
	border-bottom: 1px solid #ADADAD;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	height:44px;
}

nav#firstnav {
	position:relative;
}

nav#firstnav ul {
	padding:0;
	margin-bottom:0;
	width:auto;
}


nav#firstnav ul li {
	display:block;
	float:left;
}
nav#firstnav > ul > li > a {
	border-right: 1px solid #ababab;
}
nav#firstnav > ul > li.active > a {
	border-right:none;
}
nav#firstnav > ul > li:first-child > a {
	border-left: 1px solid #ababab;
}
nav#firstnav > ul > li.active:first-child > a {
	border-left:none;
}

nav#firstnav ul li a {
	font-size:1.1em;
	padding:12px 10px;
	display:block;
	color:#333;
}
nav#firstnav ul li a:hover {
	background-color:#eee;
	text-decoration:none;
}

nav#firstnav ul li.selected a, nav#firstnav ul li.selected a:hover, 
nav#firstnav ul li.active a, nav#firstnav ul li.active a:hover {
	background-color: #333;
	height: 22px;
	position: relative;
	top: -1px;
}

nav#firstnav ul li.selected a,
nav#firstnav ul li.active a {
	color:white;
}


/* --- drop-down menus */

.db-drop {
    position: absolute;
    top: 43px;
    z-index: 1000;
    width: 100px;
    height: 100px;
    background-color: #b2b2b2;
    left: 80px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}



.firstnav-search {
	float: right;
	margin-top: 8px;
}

/* ===== Dropdown ========================================================
   Author:
   ========================================================================== */
.dropdown-menu, nav#firstnav ul.dropdown-menu {
	background-color: white;
	width: 200px !important;
	position: absolute;
	border: 1px solid #ADADAD;
	border-top: none;
	left: -1px;
	top: 41px;
}

li.active > a > .caret {
	border-top-color: white;
	border-bottom-color: white;
}

.open, .open:hover, nav#firstnav ul li.open a:hover {
	background:white;
	color:black;
}

nav#firstnav ul.dropdown-menu li {
    border-right: none;
    width: 100%;
    display: block;
    float: left;
    clear: both;
}
nav#firstnav ul.dropdown-menu li:hover a {
	background:#dbdbdb;
}
nav#firstnav ul.dropdown-menu li:first-child a {
	font-weight:bold;
}

ul#topMenu ul.dropdown-menu li a{
	color:#333;
	background:white;
}

ul#topMenu ul.dropdown-menu li.active a {
	background:#333;
	color:white;
}

ul#topMenu > li.active.open > a,
ul#topMenu > li.active.open > a:hover {
	background:#333;
	color:white;
}

/* ===== Single Post styles ========================================================
   Author:
   ========================================================================== */
.entry-title {
	font-family: "Georgia";
	text-rendering: auto;
	font-weight: normal;
	font-size: 2em;
	line-height: 33px;
	padding-bottom: 0;
	margin-bottom: 7px;
}
.subhead {
	font-weight: lighter;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 1.2em;
	padding-bottom: 8px;
	line-height: 1.2em;
}
.photocredit-single {
	width:100%;
	float:right;
	clear:both;
}
.photocaption {
    display: block;
    margin-bottom: 10px;
}
.photocaption > p {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 0.8rem;
}
.infobar {
    display: block;
    background-color: #333333;
    padding: 5px;
    color: white;
    border-radius: 4px;
    margin-bottom:10px;
    clear:both;
}
.infobar > span {
	display:block;
	float:left;
}
.infobar > .infobar-categories {
	float:right;
}
.infobar-time {
    margin-left: 20px;
    opacity:0.7;
}

.infobar-categories {
	color:#dbdbdb;
}
.infobar-categories a {
	color:white;
}

figure, figure.alignnone {
	float: right;
	margin-left: 10px;
	margin-right:0;
}
div.media-credit-container {
	width: auto !important;
	margin-right: -12px;
	margin-bottom:8px;
}
figcaption{
    padding-top: 0;
}
#post-extra-actions {
	list-style:none;
	margin:0;
	padding:0;
	border-bottom:1px solid #dbdbdb;
}
#post-extra-actions li{
	float:right;
	display:block;
	clear:both;
	padding-bottom:7px;
}
#post-extra-actions a {
	color:#333;
}
#post-extra-actions a:hover {
	text-decoration:underline;
}


.list-space {
	width:100%;
	height:10px;
}
.post-extra-unimportant {
	opacity:0.5;
}

.db-infobox {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dbdbdb;
    background-color: #F5F5F5;
    width: 200px;
	float: right;
	padding: 10px;
	margin-left:10px;
	clear:both;
}
#entry-bottom {
}


.sm > iframe {
	position: relative;
	top: -8px;
}


#disqus_thread {
    padding-top: 15px;
}


	
/*--- rotator */
#breaking {
	background-color: #F7F7F7;
	padding: 5px 10px;
	margin-bottom: 16px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.breaking-timestamp {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #aaa;
}

#rotate-controls {
    list-style: none;
    margin: 0;
    padding: 0;
}
#rotate-controls > li > a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 3px 10px;
	font-size: 0.8em;
	font-weight: bold;
}
#rotate-controls > li > a:hover {
	background-color:#dbdbdb;
	text-decoration:none;
}

#rotate-controls > li.rotate-current > a {
	color:white;
	background-color:#333;
}
#rotate-prevnext-controls {
    float: right;
    bottom: 0;
    height: 26px;
    font-size: 0.9em;
}
#rotate-prevnext-controls > a {
    padding: 4px 7px 2px 7px;
    display: block;
    float: right;
    color:#333;
}
#rotate-prevnext-controls > a.disabled {
	opacity:0.3;
}
#rotate-prevnext-controls > .topcontent-rotator-control-back.disabled {
	opacity:0;
}
#rotate-prevnext-controls > a:hover {
	background-color:#eee;
	text-decoration:none;
	color:#333;
}
.topcontent-rotator-control-forward {
	font-weight:bold;
	background-color:#f6f6f6;
}
.topcontent-rotator-content {
	clear:both;
}



/* ===== Sidebar ========================================================
   Author:
   ========================================================================== */

#sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-more {
    margin-bottom: -15px;
    display: block;
}
.textwidget {
	margin-bottom:10px;
    min-height: 142px;
}

#sidebar-list > li {
    display: block;
    border: 1px solid #adadad;
    padding: 0 7px;
    margin-top: 15px;
    padding-bottom: 15px;
    position:relative;
}
#sidebar-list > li.sidebar-clean {
	border:none;
	padding:0;
}
#sidebar-list > li > .sidebar-more:last-child > a {
	display:block;
    border-top: 1px solid #ababab;
    margin: 0 -7px;
    padding: 5px 7px;
    text-align: center;
    font-family:"Georgia",serif;
    
    background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}
#sidebar-list > li > .sidebar-more:last-child > a:hover {
	background: #eff0f3; /* Old browsers */
	background: -moz-linear-gradient(top, #eff0f3 0%, #e7e9eb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff0f3), color-stop(100%,#e7e9eb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eff0f3 0%,#e7e9eb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eff0f3 0%,#e7e9eb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eff0f3 0%,#e7e9eb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eff0f3 0%,#e7e9eb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff0f3', endColorstr='#e7e9eb',GradientType=0 ); /* IE6-9 */
}
#sidebar-list > li > h4:first-child {
    margin: 0 -7px;
    padding: 10px 7px;
    border-bottom: 1px solid #adadad;
    margin-bottom: 14px;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    
    background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

.wpp-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family:"Georgia",serif;
}
.wpp-list > li {
	display:block;
	border-bottom: 1px solid #ADADAD;
	margin-bottom: 7px;
	padding-bottom: 9px;
    font-size: 13px;
    line-height: 16px;
}
.wpp-list > li > a {
}
.wpp-list > li:last-child {
	border:none;
	margin-bottom:0;
	padding-bottom:0;
}
.wpp-date {
    color: #adadad;
    text-transform: uppercase;
    font-size: 9px;
}

#classifieds-container {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -7px;
    margin-bottom: 0;
    margin-top: -14px;
}
#classifieds-container > div {
    padding-top: 12px;
}
#classifieds-container p {
    border-bottom: 1px solid #adadad;
    padding-bottom: 10px;
}
#classifieds-container p:last-child {
	padding-bottom:0;
	border-bottom:none;
}
a.classifieds-button {
	color:white;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 13px;
	width: 100%;
	padding: 8px;
	margin-bottom: 6px;

	width: calc(100% - 15px);
	width: -webkit-calc(100% - 15px);
	width: -moz-calc(100% - 15px);
}
.classifieds-button-group {
	width:100%;
	text-align:center;
	margin-bottom:13px;
}
.fb-recommendations {
	width:100%;
}
.fb-recommendations > span {
	width:100% !important;
}
.fb-recommendations > span > iframe {
	width:100% !important;
}

/* ===== Multimedia ========================================================
   Author:
   ========================================================================== */
.multimedia-item > a > img {
	width:180px;
	border-radius:10px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}
.multimedia-item {
	width:180px;
}
#multimedia-item-1 {
	clear:both;
	float:left;
}
#multimedia-item-2 {
	float:right;
}
.multimedia-title {
    font-family: "Georgia";
    font-size: 1.1em;
    padding-top: 6px;
    display: block;
    font-weight: bold;
    color:#333;
}


/* ===== Poll ========================================================
   Author:
   ========================================================================== */
.poll-question {
	font-family:"Georgia",serif;
	display: block;
	margin-bottom: 10px;
}
.wp-polls-form, .wp-polls {
    font-family: "Georgia",serif;
}
.wp-polls-form > submit {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wp-polls-ul {
	list-style: none;
	margin: 0;
	margin-left: -7px;
	margin-right: -7px;
}
.wp-polls-ul > li {
	padding:10px;
}
.wp-polls-ul > li:nth-child(2n-1) {
	background-color: #F2F2F2;
}
.poll-view-results {
    color: #333;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}

a#poll-past, span.multimedia-more {
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: normal;
    padding-left: 11px;
}


div#poll h2 img {
    position: relative;
    bottom: 5px;
    padding-left: 10px;
    opacity:0.3;
}

div#poll form {
/*     padding: 0 15px; */
}

.wp-polls-form label {
	margin-left: 15px;
	margin-right: 15px;
}

div#poll form label.radio {
	margin-bottom:13px;
}


/* css3 for coloring each pollbars */
.wp-polls-ul li:nth-child(01) .pollbar{ background:#BF0C43}
/*
.wp-polls-ul li:nth-child(01) .pollbar{ background:#BF0C43}
.wp-polls-ul li:nth-child(02) .pollbar{ background:#F9BA15}
.wp-polls-ul li:nth-child(03) .pollbar{ background:#8EAC00}
.wp-polls-ul li:nth-child(04) .pollbar{ background:#127A97}
.wp-polls-ul li:nth-child(05) .pollbar{ background:#452B72}
.wp-polls-ul li:nth-child(06) .pollbar{ background:#BF0C43}
.wp-polls-ul li:nth-child(07) .pollbar{ background:#F9BA15}
.wp-polls-ul li:nth-child(08) .pollbar{ background:#8EAC00}
.wp-polls-ul li:nth-child(09) .pollbar{ background:#127A97}
.wp-polls-ul li:nth-child(10) .pollbar{ background:#452B72}
*/


/* ===== Bottom Content (listing) ========================================================
   Author:
   ========================================================================== */
.longstoryshort > img {
    float: left;
    margin-right: 10px;
    width: 40%;
}


/* ===== Footer ========================================================
   Author:
   ========================================================================== */

footer {
	background-color: #444;
	margin-top: 20px;
	padding-top:6px;
	box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.4);
	border-top: 1px solid black;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
}

#bottom-logo {
	display:block;
	margin:20px auto;
}

.footer-links h3 {
}
.footer-links li {
	line-height: 14px;
	margin-bottom: 6px;
	margin-top: 6px;
}

.footer-links h3 {
	font-family: "Georgia";
	color: #EEE;
	font-weight: normal;
	margin-top: 23px;
	margin-bottom: 0px;
	font-size: 1.5em;
	text-transform: none;
	line-height: 28px;
	text-shadow: 1px 1px 1px black;
}
.footer-links h3 > a:hover:after {
	content: " \00BB";
}
.footer-links.about {
	text-align:center;
}
.footer-links.about h3 {
	border-bottom: 1px dotted #888;
	margin-bottom: 13px;
	text-align: center;
	font-size: 1.3rem;
	padding-bottom: 6px;
	color: #AAA;
}

.footer-links ul {
	list-style:none;
	margin:0;
	padding:0;
}
.footer-links ul li a {
	color: #ADADAD;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.footer-links {
	color:#BABABA;
}
.footer-links span a {
	color:white;
}

span.copyright {
	width:100%;
	color:#bababa;
	text-align:center;
	display:block;
	clear:both;
	font-style:italic;
	opacity: 0.5;
	margin-top: 86px;
	margin-bottom: 42px;
	text-shadow: 1px 1px 1px #333;
	text-transform: none;
	font-family: "Georgia",serif;
	font-size: 13px;
}

.footer-links a {
	color:#ddd;
}
.footer-links a:hover {
	color:#ddd;
	text-decoration:none;
}


/* ===== Bottom content ========================================================
   Author:
   ========================================================================== */
#paidadvertising {
	margin-top:10px;
	margin-bottom:10px;
}
#paidadvertising > div {
	opacity: 0.8;
	font-size: 0.9em;
}
#paidadvertising h4 {
	text-align:center;
	font-weight:normal;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
#paidadvertising ul {
	list-style:none;
    display: block;
    float: left;
    margin:0;
    padding:0;
    border: 1px solid #adadad;
    padding: 5px;
    position: relative;
    width: 920px;

}
#paidadvertising ul li {
	text-align:center;
	width:25%;
	padding:0;
	margin:0;
}

.categories {
    list-style: none;
    margin: 0;
    padding: 0;
}
.categories > li {
	display:block;
	float:left;
}
.categories > li > a {
	color:#777;
	text-transform:uppercase;
	margin-right:7px;
	font-size:0.8em;
}

/* ===== Archive listing ========================================================
   Author:
   ========================================================================== */

.page-header {
    margin-top: 5px;
}
.page-header h1 {
	text-align: left;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 1px;
	line-height: 1.7rem;
}
.title-category {
	float:right;
}
.title-category a {
	color:#AAA;
	font-style:italic;
}
.articlelist-head > h2 {
	line-height: 1.3em;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top:0;
}
.articlelist-head > h2 a {
	color:#333;
}
.category-thumb {
    float: left;
    margin: 0 10px 10px 0;
    clear:left;
    max-width:300px;
    max-height:300px;
}
#post-listing > article {
    overflow: hidden;
    border-bottom: 1px solid #ADADAD;
    margin-bottom:7px;
}
.attachment-db-category-full {
	max-height:480px;
	max-width:100% !important;
}

/* ===== Audio player ========================================================
   Author:
   ========================================================================== */



.audio-playlist {overflow: hidden; padding: 10px; background: #f6f6f6;
	border: 1px solid #ddd; margin-bottom: 10px; border-radius: 3px 3px;}
.audio-playlist span, .audio-playlist abbr, .audio-playlist a {display: none}
.audio-playlist img {display: block}
.audio-playlist .haudio {display: none}
.audio-playlist .fn {float: left; width: 110px; display: block; font: 11px arial}
.audio-playlist .album {font-style: italic}

/*************************/

/* PLAYER
 --------------*/
.now-playing {
	color:#F6F6F6;
}
.now-playing > span {
	color:#333;
}
 
.jp-player {width: 0; height: 0} 
.list-playlist .jp-playlist-player {margin-bottom: 20px}
.jp-interface {position: relative; display: block; width: 100%; height: 50px}

.now-playing {width: 75%; overflow: hidden; display: block; 
	position: absolute; top: 0; left: 0; font: bold 12px/15px arial}
.now-playing span {text-transform: none; display: block; font: 16px/21px arial}
.now-playing span.audio-songartist {display:none;} /* Custom CSS rule! -BL */

.jp-interface .jp-controls {margin: 0}

.jp-controls {position: absolute; top: -2px; right: -1px; overflow: hidden; 
	margin: 0 !important; list-style: none !important}
.jp-controls li {float: left; margin-left: 2px}
.jp-controls a {display: block; cursor: pointer; background: url(/wp-content/plugins/audio/css/images/icons_master.png) no-repeat;}
.jp-controls .jp-play {background-position: -27px -35px; width: 31px; height: 31px}
.jp-controls .jp-pause {background-position: -27px 0; width: 31px; height: 31px}
.jp-controls .jp-previous {background-position: 0 -39px; width: 23px; height: 23px; margin-top: 5px}
.jp-controls .jp-next {background-position: -62px -39px; width: 23px; height: 23px; margin-top: 5px}
.jp-controls .jp-stop, .jp-volume {display: none}

.jp-progress {display: block; width: 80%; height: 4px; position: absolute; left: 0; bottom: 0;
	background: #fff; border: 1px solid #dedede; overflow: hidden; cursor: pointer}
.jp-load-bar {display: block; height: 4px; background: #dedede; overflow: hidden}
.jp-play-bar {display: block; height: 4px; background: #333; overflow: hidden}
.jp-play-bar span {display: block; width: 100%; height: 4px; position: relative;
	 background: #333; overflow: hidden}

.jp-current-time, .jp-duration {display: inline;}	 
.jp-play-time-all {position: absolute; bottom: -3px; right: 5px; display: block; text-align: right;
 	font: bold 12px/12px arial;}

/* ===== Additional Icons ========================================================
   Author:
   ========================================================================== */

/* SM ICONS (social media) */
[class^="smicon-"],
[class*=" smicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("/img/socialicons_sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="smicon-"]:last-child,
[class*=" smicon-"]:last-child {
  *margin-left: 0;
}

.smicon-email {
	background-position:0 0;
}

.smicon-fb {
	background-position:-18px 0;
}

.smicon-flickr {
	background-position:-36px 0;
}

.smicon-google {
	background-position:-54px 0;
}

.smicon-rss {
	background-position:-72px 0;
}

.smicon-spotify {
	background-position:-90px 0;
}

.smicon-twitter {
	background-position:-108px 0;
}

.smicon-vimeo {
	background-position:-126px 0;
}

.smicon-youtube {
	background-position:-144px 0;
}



/* W ICONS (weather) */
[class^="wicon-"],
[class*=" wicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("/img/weathericons_sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="wicon-"]:last-child,
[class*=" wicon-"]:last-child {
  *margin-left: 0;
}

.wicon-clouds{
	background-position:0 0;
}

.wicon-cloudy{
	background-position:-18px 0;
}
.wicon-lightning{
	background-position:-36px 0;
}
.wicon-rain{
	background-position:-54px 0;
}
.wicon-snow{
	background-position:-72px 0;
}
.wicon-sun{
	background-position:-90px 0;
}

/* M ICONS (multimedia) */
[class^="micon-"],
[class*=" micon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/multimedia-icons.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="micon-"]:last-child,
[class*=" micon-"]:last-child {
  *margin-left: 0;
}

.micon-video{
	background-position:0 0;
}

.micon-photo{
	background-position:-32px 0;
}
.micon-audio{
	background-position:-64px 0;
}
.micon-etc{
	background-position:-96px 0;
}

/* T ICONS (tiny, multi-purpose icons) */
[class^="ticon-"],
[class*=" ticon-"] {
  display: inline-block;
  width: 19px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("/img/smallicons-sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="ticon-"]:last-child,
[class*=" ticon-"]:last-child {
  *margin-left: 0;
}

.ticon-white {
  background-image: url("/img/smallicons-sprite-white.png");
}

.ticon-clock {
	background-position:0 0;
}
.ticon-email {
	background-position:-32px 0;
}
.ticon-calendar {
	background-position:-64px 0;
}
.ticon-printer {
	background-position:-93px 0;
}

.ticon-twitter {
	background-position:-124px 0;
}

.ticon-facebook {
	background-position:-155px 0;
}

.ticon-link {
	background-position:-186px 0;
}

.ticon-etc {
	background-position:-219px 0;
}

.ticon-photo {
	background-position:-248px 0;
}

.ticon-photos {
	background-position:-279px 0;
}

.ticon-film {
	background-position:-311px 0;
}

.ticon-headphones {
	background-position:-342px 0;
}

.ticon-camera {
	background-position:-372px 0;
}

.ticon-map {
	background-position:-403px 0;
}

.ticon-chart {
	background-position:-434px 0;
}
.ticon-personchat {
	background-position:-465px 0;
}
.ticon-rarrow {
	background-position:-496px 0;
}
.ticon-chatbubble {
	background-position:-526px 0;
}
.ticon-eye {
	background-position:-558px 0;
}




/* ===== Mobile navbar ========================================================
   Author:
   ========================================================================== */


.btn-navbar {
  margin-top: 7px;
  position: absolute;
  right: 3px;
  top: 1px;

  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #2c2c2c;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar.active,
.btn-navbar.disabled,
.btn-navbar[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

/* ===== Top info/ad bar ===================================================== */
#topinfo {
	width:100%;
	background-color:#f2f2f2;
	border-bottom:1px solid #adadad;
	padding-top:5px;
}
.ad-banner {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 728px;
}

.spannav, .spandate {
	width:86px;
}
.spanbanner {
	width:728px;
}
@media (min-width: 1200px) { 
	.spannav, .spandate {
		width:191px;
	}
}

.spandate {
	text-align:center;
	padding-top: 15px;
}
#date-month, #date-day {
	display:inline;
	font-family:"Georgia",serif;
}
#date-month { 
	font-size:1.1em;
}
#date-day {
	font-size: 3.3em;
	line-height: 46px;
	font-style:italic;
}




/* ===== Phone nav ========================================================
   Author:
   ========================================================================== */
#mobile-nav {
	margin-left: -10px;
	margin-right: -10px;
}
ul.phone-nav {
	margin:0;
	padding:0;
}
ul.phone-nav > li a {
    display: block;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
	color:white;
	padding-left:10px;
}
ul.phone-nav > li:active, ul.phone-nav > li:hover {
    background-color: black;
}
ul.phone-nav > li.active a {
	color:black;
	background-color:#dbdbdb;
}

/* ======================== etc */
#topsearch {
	background-color:#f5f5f5;
	overflow:hidden;
	height:44px;
	display:block;
	border-right: 1px solid #ADADAD;
	padding:0;
	margin:0;
}
#topsearch > button {
	border-style: none;
	background: none;
	float: right;
	padding-top: 12px;
	padding-right: 14px;
	opacity: 0.5;
}
#topsearch > button:hover {
	opacity:1;
}
#topsearch > input {
    border-style: none;
    background: none;
    height: 37px;
    text-align: right;
    overflow: hidden;
    float: left;
    border-radius: 0;
    outline: none;
    color: #333;
    width: 87%;
    box-shadow:none;
}
#topsearch > input:focus {
	border:none;
	box-shadow:none;
}

#inthenews {
    padding: 10px 0;
    font-size: 1.1em;
    overflow:hidden;
}
#inthenews > span {
    color: #92703a;
    font-weight: bold;
    display:block;
    float:left;
    margin-right:5px;
}
#inthenews > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#inthenews > ul > li {
	display:block;
	float:left;
	margin-left:15px;
}

#followus {
    text-align: right;
    margin-top:10px;
}
#followus > iframe {
	position: relative;
	top: -5px;
	margin-right: 14px;
}

#adrow {
	margin-top:10px;
	margin-bottom:10px;
}

#front-multimedia > a > h3, .front-section > a > h3 {
	padding-left: 10px;
	display:block;
	float:left;
	margin-top:-5px;
}
#front-multimedia > a > h3:hover, .front-section > a > h3:hover {
	text-decoration:underline;
}
.front-section > a {
	margin-top: 3px;
	display: inline-block;
}

.sections {
    list-style: none;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    margin-top:-1px;
}
.sections > li {
	display:block;
	float:right;
}
.sections > li > a {
	text-transform:uppercase;
	color:#adadad;
	padding-right:16px;
	font-size:0.85em;
}
.sections > li > a:hover {
	color:#333;
	text-decoration:none;
}


.story-info {
	display: block;
	font-size: 0.8em;
	clear:both;
}
.topcontent-rotator-content .story-info {
	clear:both;
}
.story-time {
	font-size: 0.8em;
}
.story-info-category {
	font-weight:bold;
	color:#333;
}

.front-section-content {
	clear:both;
}

.section-cover {
	float:left;
	max-width:200px;
	max-height:200px;
	margin-right:10px;
	margin-bottom:10px;
}
.front-section-main .headline-d {
	font-size: 1.15em;
	display: block;
	line-height: 1.2em;
}

.section-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section-list > li {
	border-bottom: 1px solid #ADADAD;
	padding-bottom: 6px;
	padding-top: 6px;
}
.section-list > li:first-child {
	padding-top:0;
}
.section-list > li:last-child {
	padding-bottom:0;
	border:none;
}
.section-date {
    text-transform: uppercase;
	color: #ADADAD;
	font-size: 0.8em;
	padding-left: 5px;
	font-family: "Georgia";
}
.front-section-main {
	clear: both;
}
.section-cover-opinion {
    float: right;
    padding-left: 10px;
    width: 56%;
    margin-bottom:10px;
}
.small-section-list:first-child {
	border-top: 1px solid #ADADAD;
	padding-top: 5px;
}
#front-cartoon-link {
	text-align: center;
	font-family: "Georgia";
	font-size: 1.1em;
}

.section-cover-small {
	margin-bottom:10px
}


/* ===== Special features (default styles) ================================== */
#featuredProject > div {
	margin-top:10px;
	margin-bottom:10px;
	background-color:#333;
	color:white;
}
#featuredProject > div > div {
	padding:5px 20px;
}
#featuredProject h3 {
	color:white;
	display:block;
	float:left;
	margin:0;
	margin-top: 10px;
	margin-bottom: 10px;
}
#featuredProject .sections > li > a:hover {
	color:white;
}
#featuredProject ul.sections {
    margin-top: 10px;
}
#featuredProject .featuredlink {
    display: block;
    color: #333;
    background-color: #ababab;
    float: left;
    padding: 7px;
	padding-left: 20px;
	margin-left: -20px;
    font-weight: bold;
    margin-bottom: 13px;
}
#featuredProject img {
    float: right;
    margin-bottom: 10px;
    margin-left: 8px;
    border-radius: 10px;
}



.side-ads {
    margin: 30px 0;
}


/* ===== Pagination ========================================================
   Author:
   ========================================================================== */

.page-numbers {
	padding: 4px 9px;
	border: 1px solid #EEE;
	margin: 2px;
	color:#333;
	border-radius:1px;
}
a.page-numbers {
	color:#333;
}
a.page-numbers:hover {
	background-color: #EEE;
	text-decoration:none;
}
.page-numbers.current {
	border: none;
	font-weight: bold;
	color: white;
	background-color: #333;
}
.page-numbers.next {
	font-weight: bold;
	border: 1px solid #ADADAD;
	margin-left: 20px;
}
.page-numbers.prev {
	margin-right:20px;
}
.pager {
	clear:both;
}

/* ===== Author info ========================================================
   Author:
   ========================================================================== */
.author-photo {
   float: right;
   margin-left: 10px;
   margin-bottom: 10px;
}
.author-photo.nothumb {
    display:none;
}

.author-contact {
    font-style:italic;
}

/* BELOW: old stuff. It's not used yet */
.author-info {
    margin-top: 18px;
    margin-left: 90px;
    position: relative;
    min-height: 83px;
	margin-bottom: 10px;
}
.author-info > img {
    position: absolute;
    left: -90px;
    top: 3px;
}
.author-about {
    display: block;
    font-size: 0.76rem;
    text-transform: uppercase;
}
.author-name {
    display: block;
    font-family: "Georgia",serif;
    font-size: 1.4rem;
    margin-bottom: 10px;
    float: left;
}
.author-name > a {
	color:#333
}
.author-email {
    display: block;
    float: right;
    margin-left: 14px;
    color: #333;
    opacity: 0.5;
    margin-top: 2px;
}
.author-email-inside {
	margin-left: 10px;
	position: relative;
	top: -5px;
	color: #333;
}
.author-email:hover {
	opacity:1;
}
.author-info > iframe {
	display: block;
	float: right;
	margin-left: 10px;
	margin-top: 2px;
}
.author-info > p {
	clear:both;
}
.author-info.nothumb {
	margin-left:0;
}



#adrow-out {
	text-align:right;
}
#adrow-house {
	height:60px;
}
#adrow-house > div > img {
	height:60px;
}

#banner-bottom {
	text-align:center;
}

#search-mobile {
    margin-bottom: 0;
    margin-top: 22px;
    margin-left: 44px;
}
#search-mobile > input {
    display: block;
    width: 90%;
}
#ad-tower {
	margin-top: 15px;
}

.post-content {
	position:relative;
	font-family: "Georgia",serif;
}

/* Resize YouTube videos */
.entry-content-asset > iframe {
	width: 100%;
}


/* ====== 404 ===== */
.f-title {
	display: block;
	font-weight: bold;
	font-size: 8em;
	text-align: center;
	line-height: 1.4em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.f-desc {
    display: block;
    text-align: center;
    font-family: Georgia,serif;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.f-verbose {
	font-family: Georgia,serif;
	display: block;
	text-align: center;
	font-size: 0.9em;
	opacity: 0.6;
}
.fourohfour > p {
	width: 90%;
	margin-top: 31px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.f-search {
	text-align: center;
}

/* ======= HOUSE AD ======= */
a.housead {			
	position:relative;	
	text-align: center;
	background-color: #86bde7;
	display: block;
	border-radius: 3px;
	top: 0;
	border: 1px solid #78aacf;
	text-align: left;
	padding-left: 14px;
	color:black;
	background-image: url('http://dailybruin.com/images/ads/house/football-players.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}
a.housead:hover {
	text-decoration:none;
}
a.housead h4 {
	margin-top: 9px;
	margin-bottom: 2px;
}
a.housead > span {
	margin-bottom: 10px;
	display: block;
}
#housead-grunge1 {
	background-image: url('http://dailybruin.com/images/ads/house/football-grunge1.png');
	height: 61px;
	position: absolute;
	width: 100%;
	left: 0px;
	background-position: top right;
	background-size: contain;
	background-repeat: no-repeat;
}
#housead-grunge2 {
	background-image: url('http://dailybruin.com/images/ads/house/football-grunge2.png');
	height: 61px;
	position: absolute;
	width: 100%;
	left: 0px;
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;
}
#housead-grunge3 {
	background-image: url('http://dailybruin.com/images/ads/house/football-grunge3.png');
	height: 61px;
	position: absolute;
	width: 100%;
	left: 0px;
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
}

span.housead-extraword {
	display:none;
}

@media (min-width: 1200px) { 
	a.housead {				
		width:680px;
		background-image: url('http://dailybruin.com/images/ads/house/football-players-large.png');
	}
	span.housead-extraword {
		display:inline;
	}
}

#phone-football-refer {
	width: 100%;
	min-height: 44px;
	display: block;
	margin-bottom: 10px;
	background-color: #86bee7;
	color: black;
	border-radius: 11px;
	border: 1px solid #78aacf;
	background-image: url('http://dailybruin.com/images/ads/house/football-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
}
#phone-football-refer span {
	margin-top: 9px;
	display: block;
	margin-left: 10px;
	font-weight: bold;
	margin-right:53px;
	line-height: 15px;
	margin-bottom: 9px;
}


/* Spectrum ad (remove when gone) */
#spectrum-refer {
  background-color: #252525;
  width: 100%;
  height:150px;
  margin-top: 10px;
  padding-top: 10px;
  display: block;
  position:relative;
  
  background-size: cover;
  background-image: url("/img/spectrum-refer.jpg");
  background-position-y: -59px;
  background-repeat: no-repeat;
  box-shadow: 0 0 34px rgba(0,0,0,0.3) inset;
  
  transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}
#spectrum-refer-explain {
  color: white;
  padding: 0;
  display: block;
  text-align: center;
  width: 47%;
  padding-top: 18px;
  text-shadow: 1px 1px 1px black;
  position:absolute;
  bottom:22px;
  right:10px;
  font-family: "Georgia",serif;
  font-size: 1.1em;
  font-style: italic;
}
#spectrum-refer:hover {
  box-shadow: 0 0 34px rgba(0,0,0,1) inset;
}
#spectrum-refer-logo {
  width: 40%;
  max-width: 224px;
  position: absolute;
  left: 10px;
  bottom: -5px;
}
@media (min-width: 1200px) { 
  #spectrum-refer {
    background-position-y:-101px;
  }
}
@media (min-width: 768px) and (max-width: 979px) { 
  #spectrum-refer {
    background-position-y:-17px;
  }
}
@media (max-width: 480px) { 
  #spectrum-refer {
    background-position-y:-14px;
  }
}

/* Chilean winter refer styles. Remove when off the front page. */
#featuredProject > div {
    background-color: #182e49;
}
#featuredProject p {
    line-height: 1.7em;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
}
#featuredProject .featuredlink {
    background-color:black;
    color:white;
}

/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
/* figure.alignnone { margin-left: 0; margin-right: 0; } */


