

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

span.nameplate-date-weather {
    display:none !important;
}

.wp-post-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:visited {
    color: #451D6E;
}

p {
	margin: 0 0 15px;
}

figure {
	clear:both;
}
  
h2 {
	font-family: "Palatino Linotype";
	text-rendering:auto;
}  

img.ad {
	width:100%;
}

.segmented-box {
	border:1px solid #b2b2b2;
	padding:5px 10px;
	border-radius:5px;
	margin:5px 0;
	
	
	background: rgb(243,244,243); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,244,243,1) 0%, rgba(219,219,219,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,244,243,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,244,243,1) 0%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,244,243,1) 0%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,244,243,1) 0%,rgba(219,219,219,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(243,244,243,1) 0%,rgba(219,219,219,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f3', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}


[class^="headline-"],
[class*=" headline-"] {
	font-family: "Palatino Linotype";
	font-weight:400;
	font-size:24px;
	line-height: 25px;
	margin-bottom:10px;
	text-rendering:auto;
	color:#333;
}
[class^="headline-"]:hover,
[class*=" headline-"]:hover {
	color:#333;
	text-decoration:underline;
}
.headline-a {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size: 1.9em;
	line-height: 1.1em;
}
 
.headline-b {
	font-family: "Palatino Linotype";
	font-weight:bold;
	font-size: 23px;
	line-height: 26px;
}

.headline-column {
	font-style:italic;
}

.timestamp {
	color: #AAA;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
}

.timestamp-now {
	color:#f89406;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2);
}

.label-right {
	float:right;
}


.photocredit {
    font-style: italic;
    display: block;
    float: right;
    text-align: right;
    opacity:0.5;
}
.photocredit a {
	color:#333;
	font-weight:bold;
}

.byline {
    font-family: "Palatino Linotype";
    font-size: 1.1em;
    display: inline-block;
    font-style: italic;
}

.byline a {
	color:#333;
}

.thumbnail-a {
    float: left;
    margin-right: 10px;
}

article {
	display:block;
	margin:0 0 23px 0;
	clear:both;
}

.label-now,
.badge-now {
	background-color:#f89406;
}



/* --- top links */
div#nameplate-image {
	padding-bottom: 10px;
}

.navlist {
    list-style: none;
    display: inline;
}
#toplinks-info {
    padding:3px 0;
    text-align:center;
}

.navlist li {
	display:inline;
}
#toplinks-info li {
	border-right: 1px solid #bcbcbc;
	padding:0 5px 0 0;
}
#toplinks-info li a {
	color:#333;
}
#toplinks-info li a:hover {
	color:#08C;
}
#toplinks-info li:first-child {
	padding-left:5px;
}
#toplinks-info li:last-child {
	border-right:none;
}

div#toplinks ul, div#toplinks div {
    background-color: #ededed;
    border-radius: 0px 0px 3px 3px;
}

div#toplinks-socialmedia {
	padding:3px 0;
	text-align:center;
}

#toplinks-info li a#toplinks-info-donate, #toplinks-info li.menu-donate a {
	color:#234a2c;
}

#nameplate-date {
    color: white;
    background-color: #333;
    display: block;
    height: 46px;
    top: 35px;
    position: relative;
    border-radius: 3px 3px 0 0;
}

.nameplate-date-week {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 5px;
    padding-left:17px;
}

.nameplate-date-today {
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 2px;
    padding-left:17px;
}

.nameplate-date-weather {
    display: block;
    float: left;
    position: absolute;
    top: 10px;
    left: 8px;
}
.nameplate-date-weather a span {
	color:white;
	display:block;
    margin-top: -11px;
    text-shadow: 0 0 5px black;
}
.nameplate-date-weather a:hover {
	text-decoration:none;
	color:#222;
}

/* --- top-level navigation */

div#firstnav-container-back {
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
	
	background: rgb(245,246,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,245,1) 0%, rgba(219,220,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,245,1)), color-stop(100%,rgba(219,220,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f5', endColorstr='#dbdcdc',GradientType=0 ); /* IE6-9 */

}

nav#firstnav {
	position:relative;
}

nav#firstnav ul {
	padding:0;
	margin-bottom:0;
	width:auto;
}


nav#firstnav ul li {
	display:block;
	float:left;
}
nav#firstnav ul li a {
	border-right: 1px solid #dfe0de;
}
nav#firstnav ul li:first-child a {
	border-left: 1px solid #dfe0de;
}

nav#firstnav ul li a {
	font-size:1.1em;
	padding:12px 10px;
	display:block;
	color:black;
	
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);

}
nav#firstnav ul li a:hover {
	text-decoration:none;
	
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(178,178,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */

}

nav#firstnav ul li.selected a, nav#firstnav ul li.selected a:hover, 
nav#firstnav ul li.active a, nav#firstnav ul li.active a:hover {
	background: rgb(62,89,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(62,89,108,1) 0%, rgba(29,128,202,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,89,108,1)), color-stop(100%,rgba(29,128,202,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e596c', endColorstr='#1d80ca',GradientType=0 ); /* IE6-9 */
}

nav#firstnav ul li.selected a,
nav#firstnav ul li.active a {
	color:white;
}


/* --- drop-down menus */

.db-drop {
    position: absolute;
    top: 43px;
    z-index: 1000;
    width: 100px;
    height: 100px;
    background-color: #b2b2b2;
    left: 80px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}


/* --- second-level navigation */

div#secondnav-container-back {
	border-bottom: 1px solid black;
	margin-bottom:10px;

	background: rgb(14,14,14); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(14,14,14,1) 0%, rgba(52,52,52,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
}

nav#secondnav ul {
	padding:0;
	margin:0;
}

nav#secondnav ul li a {
	color:#DDD;
	padding:5px 10px;
	display:block;
	float:left;
}
nav#secondnav ul li a:hover {
	text-decoration:underline;
}
span.more_text {
	color:white;
	padding:5px 20px 5px 28px;
	font-weight:bold;
	float:left;
	display:block;
}

.firstnav-search {
	float: right;
	margin-top: 8px;
}

/* ===== Dropdown ========================================================
   Author:
   ========================================================================== */
.dropdown-menu, nav#firstnav ul.dropdown-menu {
	background-color: white;
	width: 200px !important;
	position: absolute;
	border-top: none;
	border-radius: 0 5px 5px 5px;
	left: -2px;
	top: 41px;
}

.open, .open:hover, nav#firstnav ul li.open a:hover {
	background:white;
	color:black;
}

nav#firstnav ul.dropdown-menu li {
    border-right: none;
    width: 100%;
    display: block;
    float: left;
    clear: both;
}
nav#firstnav ul.dropdown-menu li:hover a {
	background:#dbdbdb;
}
nav#firstnav ul.dropdown-menu li:first-child a {
	font-weight:bold;
}

ul#topMenu ul.dropdown-menu li a{
	color:#333;
	background:white;
}

ul#topMenu ul.dropdown-menu li.active a {
	background:#0088CC;
	color:white;
}

ul#topMenu > li.active.open > a,
ul#topMenu > li.active.open > a:hover {
	background:#0088CC;
	color:white;
}

/* ===== Single Post styles ========================================================
   Author:
   ========================================================================== */
.entry-title {
	font-family:"Palatino Linotype";
	text-rendering:auto;
	font-weight:normal;
    font-size: 2.3em;
    padding-bottom: 5px;
}
.subhead {
    font-weight: lighter;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 1.4em;
    padding-bottom: 8px;
}
.photocredit-single {
	width:100%;
	float:right;
	clear:both;
}
.photocaption {
    display: block;
    margin-bottom: 10px;
}
.infobar {
    display: block;
    background-color: #333333;
    padding: 5px;
    color: white;
    border-radius: 4px;
    margin-bottom:10px;
    clear:both;
}
.infobar > span {
	display:block;
	float:left;
}
.infobar > .infobar-categories {
	float:right;
}
.infobar-time {
    margin-left: 20px;
    opacity:0.7;
}

.infobar-categories {
	color:#dbdbdb;
}
.infobar-categories a {
	color:white;
}

figure, figure.alignnone {
	float: right;
	margin-left: 10px;
	margin-right:0;
}
div.media-credit-container {
	width: auto !important;
	margin-right: -12px;
	margin-bottom:8px;
}
figcaption{
    padding-top: 0;
}
#post-extra-actions {
	list-style:none;
	margin:0;
	padding:0;
	border-bottom:1px solid #dbdbdb;
}
#post-extra-actions li{
	float:right;
	display:block;
	clear:both;
	padding-bottom:7px;
}
#post-extra-actions a {
	color:#333;
}
#post-extra-actions a:hover {
	text-decoration:underline;
}


.list-space {
	width:100%;
	height:10px;
}
.post-extra-unimportant {
	opacity:0.5;
}

.db-infobox {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dbdbdb;
    background-color: #F5F5F5;
    width: 200px;
	float: right;
	padding: 10px;
	margin-left:10px;
	clear:both;
}
#entry-bottom {
    border-bottom: 2px solid #dbdbdb;
}


.sm > iframe {
	position: relative;
	top: -8px;
}
.author-info {
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height:80px;
    padding-left: 100px;
    position: relative;
}
.avatar {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.author-info .avatar {
    position: absolute;
    left: 10px;
	margin-right:10px;
}
.author-info h1 a {
    color: #333;
    font-family: "Palatino Linotype";
    text-rendering: auto;
}
.author-info h2 {
    line-height: 1em;
    color: #333;
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    font-size: 1em;
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
    padding: 10px;
    background-color: #dbdbdb;
    border-top-right-radius: 5px;
}

.author-info > a {
	color:#333;
}
.author-info > iframe {
	position: relative;
	top: 4px;
	margin-left: 9px;
}
.author-info > p {
	padding-top:10px;
}



#disqus_thread {
    padding-top: 15px;
}


	
/*--- rotator */
#breaking {
    background-color: #EEE;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 16px;
}

div#topcontent-rotator {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 10px;
}

div#topcontent-rotator ul {
	padding-left:0;
	margin-left:0;
	text-align:center;
}

div#topcontent-rotator ul li a {
	color:#333;
	margin:0 10px;
}

div#topcontent-rotator ul li.rotate-current a {
	font-weight:bold;
	color:black;
}

div#topcontent-rotator-nav {
	height:20px;
	
	text-align:center;
	border: 1px solid #d9d9d9;
	border-bottom:none;

	
	background: rgb(245,246,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,245,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,245,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,245,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f5', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

div.topcontent-rotator-control {
	padding-top:8px;
}

/* ===== Sidebar ========================================================
   Author:
   ========================================================================== */


#sidebar-inside > div, #sidebar-inside > section {
	padding-bottom:10px;
	margin-bottom:4px;
	border-bottom:2px solid #AAA;
	margin-left:0;
	padding-left:10px;
}

#sidebar-inside {
	height:100%;
	border-left: 1px solid #AAA;
}
#sidebar {
	height:100%;
}

.side-head {
	display:block
	padding-bottom:3px;
	margin-bottom:4px;
	border-bottom:1px solid #AAA;
	width:100%;
}
.side-head i {
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#sidebar h2 {
	font-size: 1.5em;
}
#sidebar h2 a {
	text-decoration:none;
	color:#333;
}
#popular-select, #commented-select {
	opacity:0.5;
	padding-bottom:3px;
}
#popular-select:hover, #commented-select:hover {
    border-bottom: 2px solid #333;
    padding-bottom:1px;
}

#popular-select.activetab, #commented-select.activetab {
	opacity:1;
}
#popular-select {
	float:left;
}
#commented-select {
	float:right;
}
.side-info > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-info > ul li {
	padding:4px 0;
	border-bottom:1px solid #dbdbdb;
}
.side-info > ul li:last-child {
	border-bottom:none;
}

/* ===== Popular List ========================================================
   Author:
   ========================================================================== */

div#middlecontent1-popular-headings {
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
}

a.togglemenu:last-child {
	margin-right:0;
}


a.togglemenu {
	display: inline-block;
	margin-right:5px;
	
    padding: 6px 13px;
    border-radius: 5px;
    border:1px solid #bababa;
    text-transform:uppercase;
    
    background: rgb(242,242,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(232,231,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(232,231,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(232,231,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(232,231,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(232,231,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(232,231,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e7e8',GradientType=0 ); /* IE6-9 */
	
	color:black;
}

a.togglemenu:hover {
	background: rgb(232,232,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	
	text-decoration:none;
}

a.togglemenu-current, a.togglemenu-current:hover {
	background: rgb(62,89,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(62,89,108,1) 0%, rgba(32,124,190,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,89,108,1)), color-stop(100%,rgba(32,124,190,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(32,124,190,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(32,124,190,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(32,124,190,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(62,89,108,1) 0%,rgba(32,124,190,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e596c', endColorstr='#207cbe',GradientType=0 ); /* IE6-9 */
	
	color:white;
}

ul.popularlist {
	list-style:none;
	margin-left:0;
}

ul.popularlist a {
	color:#333;
	border-bottom:1px solid #dadada;
	display:block;
	color:#555;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

ul.popularlist li a {
	padding-bottom: 9px;
}

ul.popularlist a:hover {
	text-decoration:none;
	color:black;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 23%, rgba(239,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(255,255,255,1)), color-stop(100%,rgba(239,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 23%,rgba(239,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 23%,rgba(239,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 23%,rgba(239,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 23%,rgba(239,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efeeee',GradientType=0 ); /* IE6-9 */
}

ul.popularlist a li, ul.popularlist li {
	display:block;
	line-height:1.2em;
	margin-bottom:10px;
	margin-top:5px;
	padding:2px 5px;
}

.popularlist span.popularlist-comments {
	display:block;
	width:26px;
	height:24px;
	background-image:url('/img/chaticon.png');
	float:right;
	color:white;
	text-align:center;
	padding-top:2px;
	background-repeat:no-repeat;
	margin-left:5px;
	opacity:0.7;
}

span.popularlist-comments:hover {
	opacity:1;
}

/* ===== Classifieds ========================================================
   Author:
   ========================================================================== */

#middlecontent1-classifieds-column1 {
	float:left;
	width:48%;
	padding-right:6px;
	border-right:1px solid #dadada;
}

#middlecontent1-classifieds-column2 {
	float:left;
	width:48%;
	padding-left:6px;
	border-left:1px solid #ededed;
}

#middlecontent1-classifieds-column1, #middlecontent1-classifieds-column2 {
	font-size:0.9em;
	line-height:1.2em;
}

#middlecontent1-classifieds-column1 p, #middlecontent1-classifieds-column2 p {
    border-bottom:1px solid #dadada;
    border-top:1px solid #ededed;
    margin:0;
    display:block;
    padding:5px 0;
    word-wrap: break-word;
}

#middlecontent1-classifieds-column1 p:first-child, #middlecontent1-classifieds-column2 p:first-child {
	border-top:none;
}
#middlecontent1-classifieds-column1 p:last-child, #middlecontent1-classifieds-column2 p:last-child {
	border-bottom:none;
}

article.db_classified {
    border-bottom: 1px solid #dbdbdb;
}

/* ===== Multimedia ========================================================
   Author:
   ========================================================================== */
.multimedia-item-featured {
    float: right;
    width: 400px;
}
span.multimedia-title {
    font-weight: bolder;
    color:#333;
}
span.multimedia-date {
    color: #AAA;
    display:block;
}

.multimedia-item p {
	color:#333;
}
.multimedia-item:hover {
	text-decoration:none;
	opacity:1;
}
.multimedia-item img, .multimedia-item-featured-media {
	margin-bottom:5px;
}

.multimedia-item-featured i, .multimedia-item i {
	float:left;
	margin-right:5px;
	margin-left:5px;
}

.multimedia-item-featured p, .multimedia-item p {
    margin-left: 42px;
    margin-top: 4px;
}
.multimedia-item {
    float: left;
    width: 202px;
    opacity:0.8;

	color:#333;
	border-bottom:1px solid #dadada;
	display:block;
	color:#555;
	margin-bottom:5px;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.multimedia-item-featured .multimedia-item {
	width:100%;
}

.multimedia-more a {
	margin-left:4px;
}

#multimedia-podcast {
    float: right;
    margin:5px 18px;
    width: 382px;
}
#multimedia-podcast img {
	height:111px;
	display:block;
	float:left;
	margin-right:5px;
}

#multimedia-podcast-link {
	display:block;
    float: left;
}



/* ===== Poll ========================================================
   Author:
   ========================================================================== */
.poll-question {
	padding:0 0 10px 0;
	display:block;
	font-size:1.2em;
    line-height: 1.5em;
}

a#poll-past, span.multimedia-more {
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: normal;
    padding-left: 11px;
}


div#poll h2 img {
    position: relative;
    bottom: 5px;
    padding-left: 10px;
    opacity:0.3;
}

div#poll form {
/*     padding: 0 15px; */
}

.wp-polls-form label {
	margin-left: 15px;
	margin-right: 15px;
}

div#poll form label.radio {
	margin-bottom:13px;
}

div#poll form label.radio:hover {

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,243,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f3',GradientType=0 ); /* IE6-9 */
}

div#poll form submit {
    display: block;
    margin-bottom: 8px;
}

div#poll form a {
	text-align:center;
	display:block;
}

/* css3 for coloring each pollbars */
.wp-polls-ul li:nth-child(01) .pollbar{ background:#8FA0C5}
.wp-polls-ul li:nth-child(02) .pollbar{ background:#FF8}
.wp-polls-ul li:nth-child(03) .pollbar{ background:#ff8a3b}
.wp-polls-ul li:nth-child(04) .pollbar{ background:#a61e2a}
.wp-polls-ul li:nth-child(05) .pollbar{ background:#4ebbff}
.wp-polls-ul li:nth-child(06) .pollbar{ background:#fbca54}
.wp-polls-ul li:nth-child(07) .pollbar{ background:#aad34f}
.wp-polls-ul li:nth-child(08) .pollbar{ background:#66cc9a}
.wp-polls-ul li:nth-child(09) .pollbar{ background:#98CBCB}
.wp-polls-ul li:nth-child(10) .pollbar{ background:#a67c52}
/* little transition */
.wp-polls-ul li .pollbar{-webkit-transition: background 0.7s ease-in-out}
.wp-polls-ul li .pollbar:hover{background:#F00}


/* ===== Bottom Content (listing) ========================================================
   Author:
   ========================================================================== */


#bottomcontent {
	border-top:1px solid #dadada;
	margin-top:10px;
    padding-top: 10px;
    padding-bottom:10px;
    margin-left:0;
}

div.bottomcontent-wrap {
	border-right: 1px solid #dadada;
}
#bottomcontent-news-wrap {
	border-left:none;
}
#bottomcontent-opinion-wrap {
	border-right:none;
}

div.bottomcontent-wrap ul {
	list-style:none;
	margin:0;
	padding:0;
}
div.bottomcontent-wrap ul a {
	display:block;
	width:auto;
	color:black;
	opacity:0.6;
	padding:7px 5px;
	border-bottom:1px solid #dadada;
	border-top:1px solid #ededed;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeef',GradientType=0 ); /* IE6-9 */
}
div.bottomcontent-wrap ul a:first-child {
	border-top:none;
}

div.bottomcontent-wrap ul a:hover {
	text-decoration:none;
	opacity:1;
}

div.bottomcontent {
	width:25%;
	margin:0;
	float:left;
}

.bottomcontent-date {
	display:block;
	float:right;
	width:25px;
	text-align:center;
	text-transform:uppercase;
	font-size:11px;
}

.bottomcontent-date span {
	display:block;
	font-size:18px;
	font-weight:lighter;
	margin-top:-3px;
}

.bottomcontent-wrap h2 {
	padding-left:7px;
}

.bottomcontent-more {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    padding-bottom: 9px;
}

/* ===== Footer ========================================================
   Author:
   ========================================================================== */

footer {
	border-top:1px solid #989898;
	outline:1px solid black;
	box-shadow:0 0 10px rgba(0,0,0,0.5);

	background: rgb(71,71,71); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(71,71,71,1) 0%, rgba(36,35,35,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,71,71,1)), color-stop(100%,rgba(36,35,35,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(71,71,71,1) 0%,rgba(36,35,35,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(71,71,71,1) 0%,rgba(36,35,35,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(71,71,71,1) 0%,rgba(36,35,35,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(71,71,71,1) 0%,rgba(36,35,35,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#242323',GradientType=0 ); /* IE6-9 */
}

#bottom-logo {
	display:block;
	margin:20px auto;
}

.footer-links h3 {
	font-family:"Palatino Linotype";
	color:white;
	font-weight:normal;
	margin-top:10px;
	margin-bottom:4px;
	font-size:1.8em;
}

.footer-links ul {
	list-style:none;
	margin:0;
	padding:0;
}
.footer-links ul li a {
	color:#bababa;
}

.footer-links {
	color:#BABABA;
}
.footer-links span a {
	color:white;
}

span.copyright {
	width:100%;
	color:#bababa;
	text-align:center;
	display:block;
	margin:20px 0;
	clear:both;
	font-style:italic;
}

.footer-links a {
	color:white;
}


/* ===== Bottom content ========================================================
   Author:
   ========================================================================== */
#paidadvertising {
	margin-top:10px;
	margin-bottom:10px;
}
#paidadvertising h4 {
	text-align:center;
	font-weight:normal;
}
#paidadvertising ul {
	list-style:none;
	width:100%;
    display: block;
    float: left;
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}
#paidadvertising ul li {
	text-align:center;
}
.paidadvertising-list li:nth-child(6n+1) {
	margin-left:0;
}

/* ===== Archive listing ========================================================
   Author:
   ========================================================================== */

.page-header {
    margin-top: 5px;
}
.page-header h1 {
    text-align: right;
    opacity: 0.5;
}
.title-category {
	float:right;
}
.title-category a {
	color:#AAA;
	font-style:italic;
}
.articlelist-head > h2 {
    font-weight: normal;
    line-height: 1.3em;
    padding-bottom: 7px;
}
.articlelist-head > h2 a {
	color:#333;
}
.category-thumb {
    float: left;
    margin: 0 10px 10px 0;
    clear:left;
}
#post-listing > article {
    overflow: hidden;
    border-bottom: 2px solid #AAA;
    margin-bottom:7px;
}

/* ===== Audio player ========================================================
   Author:
   ========================================================================== */



.audio-playlist {overflow: hidden; padding: 10px; background: #f6f6f6;
	border: 1px solid #ddd; margin-bottom: 10px; border-radius: 3px 3px;}
.audio-playlist span, .audio-playlist abbr, .audio-playlist a {display: none}
.audio-playlist img {display: block}
.audio-playlist .haudio {display: none}
.audio-playlist .fn {float: left; width: 110px; display: block; font: 11px arial}
.audio-playlist .album {font-style: italic}

/*************************/

/* PLAYER
 --------------*/
.jp-player {width: 0; height: 0} 
.list-playlist .jp-playlist-player {margin-bottom: 20px}
.jp-interface {position: relative; display: block; width: 100%; height: 50px}

.now-playing {width: 75%; overflow: hidden; display: block; 
	position: absolute; top: 0; left: 0; font: bold 12px/15px arial}
.now-playing span {text-transform: none; display: block; font: 16px/21px arial}

.jp-interface .jp-controls {margin: 0}

.jp-controls {position: absolute; top: -2px; right: -1px; overflow: hidden; 
	margin: 0 !important; list-style: none !important}
.jp-controls li {float: left; margin-left: 2px}
.jp-controls a {display: block; cursor: pointer; background: url(/wp-content/plugins/audio/css/images/icons_master.png) no-repeat;}
.jp-controls .jp-play {background-position: -27px -35px; width: 31px; height: 31px}
.jp-controls .jp-pause {background-position: -27px 0; width: 31px; height: 31px}
.jp-controls .jp-previous {background-position: 0 -39px; width: 23px; height: 23px; margin-top: 5px}
.jp-controls .jp-next {background-position: -62px -39px; width: 23px; height: 23px; margin-top: 5px}
.jp-controls .jp-stop, .jp-volume {display: none}

.jp-progress {display: block; width: 80%; height: 4px; position: absolute; left: 0; bottom: 0;
	background: #fff; border: 1px solid #dedede; overflow: hidden; cursor: pointer}
.jp-load-bar {display: block; height: 4px; background: #dedede; overflow: hidden}
.jp-play-bar {display: block; height: 4px; background: #333; overflow: hidden}
.jp-play-bar span {display: block; width: 100%; height: 4px; position: relative;
	 background: #333; overflow: hidden}

.jp-current-time, .jp-duration {display: inline;}	 
.jp-play-time-all {position: absolute; bottom: -3px; right: 5px; display: block; text-align: right;
 	font: bold 12px/12px arial;}

/* ===== Additional Icons ========================================================
   Author:
   ========================================================================== */

/* SM ICONS (social media) */
[class^="smicon-"],
[class*=" smicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("/img/socialicons_sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="smicon-"]:last-child,
[class*=" smicon-"]:last-child {
  *margin-left: 0;
}

.smicon-email {
	background-position:0 0;
}

.smicon-fb {
	background-position:-18px 0;
}

.smicon-flickr {
	background-position:-36px 0;
}

.smicon-google {
	background-position:-54px 0;
}

.smicon-rss {
	background-position:-72px 0;
}

.smicon-spotify {
	background-position:-90px 0;
}

.smicon-twitter {
	background-position:-108px 0;
}

.smicon-vimeo {
	background-position:-126px 0;
}

.smicon-youtube {
	background-position:-144px 0;
}



/* W ICONS (weather) */
[class^="wicon-"],
[class*=" wicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("/img/weathericons_sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="wicon-"]:last-child,
[class*=" wicon-"]:last-child {
  *margin-left: 0;
}

.wicon-clouds{
	background-position:0 0;
}

.wicon-cloudy{
	background-position:-18px 0;
}
.wicon-lightning{
	background-position:-36px 0;
}
.wicon-rain{
	background-position:-54px 0;
}
.wicon-snow{
	background-position:-72px 0;
}
.wicon-sun{
	background-position:-90px 0;
}

/* M ICONS (multimedia) */
[class^="micon-"],
[class*=" micon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/multimedia-icons.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="micon-"]:last-child,
[class*=" micon-"]:last-child {
  *margin-left: 0;
}

.micon-video{
	background-position:0 0;
}

.micon-photo{
	background-position:-32px 0;
}
.micon-audio{
	background-position:-64px 0;
}
.micon-etc{
	background-position:-96px 0;
}

/* T ICONS (tiny, multi-purpose icons) */
[class^="ticon-"],
[class*=" ticon-"] {
  display: inline-block;
  width: 19px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("/img/smallicons-sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="ticon-"]:last-child,
[class*=" ticon-"]:last-child {
  *margin-left: 0;
}

.ticon-white {
  background-image: url("/img/smallicons-sprite-white.png");
}

.ticon-clock {
	background-position:0 0;
}
.ticon-email {
	background-position:-32px 0;
}
.ticon-calendar {
	background-position:-64px 0;
}
.ticon-printer {
	background-position:-93px 0;
}

.ticon-twitter {
	background-position:-124px 0;
}

.ticon-facebook {
	background-position:-155px 0;
}

.ticon-link {
	background-position:-186px 0;
}

.ticon-etc {
	background-position:-219px 0;
}

.ticon-photo {
	background-position:-248px 0;
}

.ticon-photos {
	background-position:-279px 0;
}

.ticon-film {
	background-position:-311px 0;
}

.ticon-headphones {
	background-position:-342px 0;
}

.ticon-camera {
	background-position:-372px 0;
}

.ticon-map {
	background-position:-403px 0;
}

.ticon-chart {
	background-position:-434px 0;
}
.ticon-personchat {
	background-position:-465px 0;
}
.ticon-rarrow {
	background-position:-496px 0;
}
.ticon-chatbubble {
	background-position:-526px 0;
}
.ticon-eye {
	background-position:-558px 0;
}




/* ===== Mobile navbar ========================================================
   Author:
   ========================================================================== */


.btn-navbar {
  margin-top: 7px;
  position: absolute;
  right: 3px;
  top: 1px;

  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #2c2c2c;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
.btn-navbar:hover,
.btn-navbar:active,
.btn-navbar.active,
.btn-navbar.disabled,
.btn-navbar[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

/* ===== Phone nav ========================================================
   Author:
   ========================================================================== */
#mobile-nav {
	margin-left: -10px;
	margin-right: -10px;
}
ul.phone-nav {
	margin:0;
	padding:0;
}
ul.phone-nav > li a {
    display: block;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
	color:white;
	padding-left:10px;
}
ul.phone-nav > li:active, ul.phone-nav > li:hover {
    background-color: black;
}
ul.phone-nav > li.active a {
	color:black;
	background-color:#dbdbdb;
}

/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
/* figure.alignnone { margin-left: 0; margin-right: 0; } */


/* ===== Responsive Styles ========================================================
   Author:
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: 480px) { 
	footer {
	    margin-left: -20px;
	    padding: 0 10px;
	    margin-right: -20px;
	}
	.topcontent-rotator-control {
		clear:both;
	}
	.entry-title {
	    font-size: 1.8em;
	    line-height: 1.3em;
	}
	.subhead {	
	    font-size: 1.2em;
	    line-height: 1.4em;
	    padding: 14px 0 21px;
	}
	.infobar > .infobar-categories {	
	    float: left;
	    padding-top: 5px;
	}
	.db-infobox {
	    width: 80%;
	    display: block;
	    float: none;
	    margin: 10px auto;
	}
	figure, figure.alignnone {
		display: block;
		text-align: center;
		float: none;
		margin: 10px auto;
	}
	.category-thumb {	
	    float: none;
	    margin: 0 auto;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	header {
	    min-height: 44px;
	    background-image: url('../img/black-linen.png');
	    margin-left: -20px;
		padding: 0 10px;
		margin-right: -20px;
	    margin-bottom: 6px;
	    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	    text-align:center;
	}
	#nameplate-image img {
	    padding-top: 11px;
	}
	#poll {
		clear:both;
	}
	.headline-a {
		font-size:1.8em;
	}
	.headline-b {
		font-size: 21px;
		line-height: 23px;
	}
	span.multimedia-more {
	    clear: both;
	    float: right;
	    margin: 0;
	    padding: 0;
	    margin-top: -8px;
	}
	.multimedia-item-featured {
		width:100%;
	}

	#multimedia-item-1, #multimedia-item-2 {
		width:48%;
	}
	#multimedia-item-1 {
		float:left;
	}
	#multimedia-item-2 {
		float:right;
	}
	.multimedia-item-featured p, .multimedia-item p {
		margin-left:0;
	}
	#multimedia-podcast {
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    border-bottom: 1px solid #AAA;
	    padding-bottom: 11px;
	    margin-bottom: 6px;
	}
	.footer-nav {
		display:none;
	}
	div.bottomcontent {
		width:100%;
	}
	div.bottomcontent-wrap {
		border-right:none;
	}
	.bottomcontent-date {
	    padding-left: 5px;
	}
	div.bottomcontent-wrap ul a {
		opacity:1;
		color:#333;
		background:none;
	}
	div.bottomcontent-wrap ul a {
		height: 44px;
		font-size: 1.2em;
	}
	a.togglemenu {
		padding: 8px 11px;
		width: 23%;
		padding-left: 8px !important;
		vertical-align: middle;
		text-transform: none;
	}
	.multimedia-item {
		opacity:1;
	}
	footer {	
	    margin-left: -20px;
	    margin-right: -20px;
	}
	#post-extra-actions li {
		clear: none;
		float: left;
		margin-right: 16px;
	}
	#post-extra-actions li.list-space {
		display:none;
	}
	.post-content {
		margin-top:10px;
	}
	#sidebar-inside {
		border:none;
	}
	#commented-selected {
	    float: left;
	    margin-left: 19px;
	}
	#side-ad {
		border:none;
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#nameplate-date {
		top:19px;
	}
	a.togglemenu {
		padding: 8px 11px;
		width: 23%;
		padding-left: 8px !important;
		vertical-align: middle;
		text-transform: none;
	}
	div.multimedia-item-featured {
		width:476px;
	}
	#multimedia-podcast {
	    width: 148px; 
	    float: right;
	    margin: 0;
	    padding: 0;
	}
	.multimedia-item {
		width: 148px;
		margin-right: 10px;
	}
	input#search-input {
    	width: 132px;
	}
	.entry-title {
		font-size:2em;
	}
	#commented-select {
		float:left;
	}
	figure, figure.alignnone {
		display: block;
		text-align: center;
		float: none;
		margin: 10px auto;
	}
	.db-infobox {
	    width: 80%;
	    display: block;
	    float: none;
	    margin: 10px auto;
	}
}

/* Large desktop */
@media (min-width: 1200px) { 
	#nameplate-date {
		top:52px;
	}
	.multimedia-item {
	    width: 175px;
	    margin-right: 10px;
	}
	#multimedia-podcast {
	    float: left;
	    width: 324px;
	}
}
