a {
	color: #0080c6 !important;
}
h2 a{
	color: black !important;
	font-weight: 400 !important;
	font-family: 'Roboto Slab', serif;
}

h2{
	color: black !important;
	font-family: 'Roboto Slab', serif !important;
}

h3 a{
	color: black !important;
	font-weight: 400 !important;
	font-family: 'Roboto Slab', serif;
}

.section-left {
	border-right: lightgrey thin solid;
}

.db-section-side h2{
	font-size: 0.9rem;
}

.db-logo-spectrum {
	display: none;
}

.db-post-content,
.db-post-content p {
	font-size: 0.9rem !important;
	line-height: 1.5 !important;
}

.db-image-caption{
	font-size: 0.705rem !important;
	line-height: 1.4 !important;
}

.db-post-headline h1{
	font-family: 'Roboto Slab', serif;
	font-size: 2.5em;
	line-height: 1.2;
	text-transform: none !important;
	font-weight: 400 !important;
}

.db-sum h4 a{
	color: black !important;
}

.db-story-a h2 a,
.db-story-b h2 a,
.db-story-d h3 a,
.db-story-e h3 a{
	font-weight: 700 !important;
}

a:hover {
	opacity: 0.8;
}

.pagination-centered{
	font-size: 1.5rem;
	margin-bottom: 5% !important;
}

h4 {
	color: black !important;
}

.off-canvas-list a{
	color: #FFFFFF !important;
}

.db-classifieds-header h1 {
	border-bottom: 2pt solid black;
	padding-bottom: 10px;
}

.db-footer {
	color: grey;
	line-height: 3;
}


blockquote {
	width: 30%;
    font-size: 150%;
    font-style: italic;
    float: right;
    border-left: solid #767676;
    margin: 1%;
    padding-left: 2%;
	
}

@media (max-width: 480px) {
	blockquote {
		width: 95%;
		margin-bottom: 1em;
	}
}

.thumbnail-a {
	float: right;
	margin-left: 10px;
}

#side-ad {
	text-align: center;
}

#ad-banner-small {
	text-align: center;
}

.db-infobox {
    background-color: white;
    /*border: 1px solid #dbdbdb;*/
    background-color: #F9F9F9;
    width: 200px;
	float: right;
	padding: 10px;
	margin-left:10px;
	clear:both;
}

.video-story p {
	text-align: left;
}

#comment-policy {
	font-style: italic;
	font-size: 0.75em;
	margin-top: 10px;
}

figure, figure.alignnone {
	float: right;
	margin-left: 10px;
	margin-right:0;
	font-size: 0.75rem;
}

.db-story-center {
	border-left: thin solid lightgrey;
	border-right: thin solid lightgrey;
}

.db-sum {
	border-left: thin solid lightgrey;
}

.db-sum img{
	margin-bottom: 0.5rem;
}

.db-poll {
	border-right: thin solid lightgrey;
	/*TODO FIX THIS HEIGHT THING*/
}

.caption {
	color: grey;
}

/*HEADER */
.off-canvas-fixed {
    -webkit-transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    height:100%;
}
.move-right > .off-canvas-fixed {
    -webkit-transform: translate3d(15.625rem, 0, 0);
    transform: translate3d(15.625rem, 0, 0);
    height:100%;
}
.left-off-canvas-menu {
    -webkit-transform: none;
    transform: none;
    height: 100%;
}
.main-section {
    padding:45px 0 0;
}
.tab-bar {
    width:100%;
}
@media only screen and (orientation:landscape) and (max-width: 64em){
    .main-section {
        padding:0 0 0 2.8125rem;
    }
    .off-canvas-fixed {
        width:2.8125rem;
        height:100%;
        background:#333333;
    }
     section.left-small{
        border:none;
        box-shadow:none;
    }
}

.db-off-canvas-wrap .db-content {
background-color: white;
margin: 0 auto;
padding: 0.625rem;
padding-top: 0rem !important;
/*added font size*/
font-size: 0.75rem;
}

.db-off-canvas-wrap .tab-bar {
border-bottom: none !important;*/
}

.tab-bar {
-webkit-backface-visibility: hidden;
background: #FFFFFF;
color: #FFFFFF;
line-height: 5rem;
position: relative !important;
}

.tab-bar .menu-icon {
	width: 10rem !important;
}

.tab-bar .menu-icon h1 {
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: 25px;
	line-height: 5.3rem;
}

.tab-bar .search-icon{
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 5.3rem;
	margin-right: 25px;
	color: black !important;
}

.tab-bar .search-icon i {
	display: inline;
	font-size: 1.2rem;
	line-height: 5.3rem;
	color: black !important;
}

.tab-bar-section.middle {
top: 0rem !important;
}

.db-top-date {
	margin-left: 2rem;
	margin-right: 2rem;
}

.db-top-date p {
	color: grey;
	font-size: 1rem;
   width: 100%; 
   text-align: center; 
   border-bottom: 3px solid lightgrey; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.db-top-date p span { 
    background:#fff; 
    padding:0 10px; 
}

#stickyheader {
    width: 100%;
    height: 7rem;
    background: white;
    z-index: 1000;
}

#stickyalias {
  display: none;
  z-index: 1000;
  border-bottom: thin solid lightgrey !important;
  box-shadow: 0px 1px 10px rgba(0,0,0, 0.5);
}

#stickyalias img {
  height: 2.7rem;
  z-index: 1000;
}
#stickyalias .tab-bar{
	height: 4rem !important;
	line-height: 4rem !important;
}
#stickyalias .menu-icon{
	height: 4rem !important;
}
#stickyalias .menu-icon h1 {
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: 25px;
	line-height: 3.8rem !important;
}

#stickyalias .search-icon{
	position: relative;
	top: -0.7rem;
}

#stickyalias .search-icon i {
	display: inline;
	font-size: 1.2rem;
	line-height: 5.3rem;
	color: black !important;
}

.gsc-search-button input {
	background-image: inherit;
	box-sizing: content-box;
}

.gsc-inline-block .gsc-selected-option-container {
	width: auto !important;
}

.gsc-control-cse table,
.gsc-input .gsc-input-box  {
	border: none;
	margin-bottom: 0;
}

.reveal-modal-bg{
	position: fixed !important;
}

#search {
	max-height: 80vh;
	overflow-y: scroll;
}


/* ===== Special features (default styles) ================================== */
#featuredProject > div {
	margin-top:10px;
	margin-bottom:10px;
	background-color:#f5f5f5;
	color:black;
}
#featuredProject > div > div {
	padding:5px 20px;
}
#featuredProject h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 1.8rem;
	color:black;
	display:block;
	float:left;
	margin:0;
	margin-top: 10px;
	margin-bottom: 10px;
}
#featuredProject h4 {
	color:grey !important;
	font-weight: 400;
	display:block;
	float:left;
	margin:0;
	margin-top: 10px;
	margin-bottom: 10px;
}
#featuredProject p {
	line-height: 1.7rem;
	font-size: 0.80rem;
}

#featuredProject .sections > li > a:hover {
	color:black;
}
#featuredProject ul.sections {
    margin-top: 10px;
}
#featuredProject .featuredlink {
    display: block;
    color: white !important;
    background-color: #515791;
    float: left;
    padding: 7px;
	padding-left: 20px;
	margin-left: -20px;
    font-weight: bold;
    margin-bottom: 13px;
}
#featuredProject img {
    float: right;
    margin-bottom: 10px;
    margin-left: 8px;
}



.side-ads {
    margin: 30px 0;
}

.lsSlideWrapper img{
	text-align: center !important;
}

.db-story-m {
	padding-right: 40px !important;
	display:none;
}

#multSlider li {
	position: relative;

}

.front-mult {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em;
	margin: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
}
.front-mult h1 a,
.front-mult h4,
.front-mult h5{
	color: white !important;
}

/* ===== Sidebar ========================================================
   Author:
   ========================================================================== */

#sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.db-classifieds .sidebar-more {
	padding-top:10px;
    margin-bottom: 0px;
    margin-left: -15px;
    display: block;
    text-transform: uppercase;
    border-top: thin solid lightgrey;
}
.sidebar-more {
    margin-bottom: -15px;
    display: block;
}

.textwidget {
	margin-bottom:10px;
    min-height: 142px;
}

#sidebar-list > li {
    display: block;
    border: 1px solid #adadad;
    padding: 0 7px;
    margin-top: 15px;
    padding-bottom: 15px;
    position:relative;
}
#sidebar-list > li.sidebar-clean {
	border:none;
	padding:0;
}
#sidebar-list > li > .sidebar-more:last-child > a {
	display:block;
    border-top: 1px solid #ababab;
    margin: 0 -7px;
    padding: 5px 7px;
    text-align: center;
}
#sidebar-list > li > .sidebar-more:last-child > a:hover {
}
#sidebar-list > li > h4:first-child {
    margin: 0 -7px;
    padding: 10px 7px;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 1rem;
   	line-height: 2;
}

.sidebar ul.misc {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
}

.sidebar ul.misc > li {
    padding: 0.1em 0;
}



/* ===== Classifieds ========================================================
   Author:
   ========================================================================== */
/*new additions*/
.classifieds-page {
	margin-top: 20px;
}

#classifieds-ads {
	margin-top: 20px;
	border-left: thin solid lightgrey;
	border-right: thin solid lightgrey;
}

/*from old code*/
.db-classifieds #classifieds-container {
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -15px;
    margin-top: -5px;
}

#classifieds-container {
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -7px;
    margin-bottom: 0;
    margin-top: -14px;
}

#classifieds-container > div {
    padding-top: 12px;
}
#classifieds-container p {
    border-bottom: 1px solid #adadad;
    padding-bottom: 10px;
}
#classifieds-container p:last-child {
	padding-bottom:0;
	border-bottom:none;
}
a.classifieds-button {
	color:white;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 13px;
	width: 100%;
	padding: 8px;
	margin-bottom: 6px;

	width: calc(100% - 15px);
	width: -webkit-calc(100% - 15px);
	width: -moz-calc(100% - 15px);
}
.classifieds-button-group {
	width:100%;
	text-align:center;
	margin-bottom:13px;
}

/* ===== Poll ========================================================
   Author:
   ========================================================================== */
.poll-question {
	font-family:"Helvetica", sans-serif;
	font-size: 0.8em;
	display: block;
	margin-bottom: 10px;
}
.wp-polls-form, .wp-polls {
    font-family:"Helvetica", sans-serif;
}
.wp-polls-form > submit {
	text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wp-polls-ul {
	list-style: none;
	margin: 0;
	margin-left: -7px;
	margin-right: -7px;
}
.wp-polls-ul > li {
	padding:10px;
}
.wp-polls-ul > li:nth-child(2n-1) {
	background-color: #F2F2F2;
}
.poll-view-results {
    color: #333;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
}

a#poll-past, span.multimedia-more {
    font-family: "Helvetica Neue";
    font-size: 0.8em;
    font-weight: normal;
    padding-left: 11px;
}


div#poll h2 img {
    position: relative;
    bottom: 5px;
    padding-left: 10px;
    opacity:0.3;
}

div#poll form {
/*     padding: 0 15px; */
}

.wp-polls-form label {
	font-size: 0.75em;
	margin-left: 15px;
	margin-right: 15px;
}

div#poll form label.radio {
	margin-bottom:13px;
}

.radio, .checkbox {
min-height: 20px;
padding-left: 20px;
}

/* css3 for coloring each pollbars */
.wp-polls-ul li:nth-child(01) .pollbar{ background:#BF0C43}
/*
.wp-polls-ul li:nth-child(01) .pollbar{ background:#BF0C43}
.wp-polls-ul li:nth-child(02) .pollbar{ background:#F9BA15}
.wp-polls-ul li:nth-child(03) .pollbar{ background:#8EAC00}
.wp-polls-ul li:nth-child(04) .pollbar{ background:#127A97}
.wp-polls-ul li:nth-child(05) .pollbar{ background:#452B72}
.wp-polls-ul li:nth-child(06) .pollbar{ background:#BF0C43}
.wp-polls-ul li:nth-child(07) .pollbar{ background:#F9BA15}
.wp-polls-ul li:nth-child(08) .pollbar{ background:#8EAC00}
.wp-polls-ul li:nth-child(09) .pollbar{ background:#127A97}
.wp-polls-ul li:nth-child(10) .pollbar{ background:#452B72}
*/

/* ===== Audio player ========================================================
   Author:
   ========================================================================== */



.audio-playlist {overflow: hidden; padding: 10px; background: #f6f6f6;
	border: 1px solid #ddd; margin-bottom: 10px; border-radius: 3px 3px;}
.audio-playlist span, .audio-playlist abbr, .audio-playlist a {display: none}
.audio-playlist img {display: block}
.audio-playlist .haudio {display: none}
.audio-playlist .fn {float: left; width: 110px; display: block; font: 11px arial}
.audio-playlist .album {font-style: italic}

/*************************/

/* PLAYER
 --------------*/
.now-playing {
	color:#F6F6F6;
}
.now-playing > span {
	color:#333;
}
 
.jp-player {width: 0; height: 0} 
.list-playlist .jp-playlist-player {margin-bottom: 20px}
.jp-interface {position: relative; display: block; width: 100%; height: 50px}

.now-playing {width: 75%; overflow: hidden; display: block; 
	position: absolute; top: 0; left: 0; font: bold 12px/15px arial}
.now-playing span {text-transform: none; display: block; font: 16px/21px arial}
.now-playing span.audio-songartist {display:none;} /* Custom CSS rule! -BL */

.jp-interface .jp-controls {margin: 0}

.jp-controls {position: absolute; top: -2px; right: -1px; overflow: hidden; 
	margin: 0 !important; list-style: none !important}
.jp-controls li {float: left; margin-left: 2px}
.jp-controls a {display: block; cursor: pointer; background: url(/wp-content/plugins/audio/css/images/icons_master.png) no-repeat;}
.jp-controls .jp-play {background-position: -27px -35px; width: 31px; height: 31px}
.jp-controls .jp-pause {background-position: -27px 0; width: 31px; height: 31px}
.jp-controls .jp-previous {background-position: 0 -39px; width: 23px; height: 23px; margin-top: 5px}
.jp-controls .jp-next {background-position: -62px -39px; width: 23px; height: 23px; margin-top: 5px}
.jp-controls .jp-stop, .jp-volume {display: none}

.jp-progress {display: block; width: 80%; height: 4px; position: absolute; left: 0; bottom: 0;
	background: #fff; border: 1px solid #dedede; overflow: hidden; cursor: pointer}
.jp-load-bar {display: block; height: 4px; background: #dedede; overflow: hidden}
.jp-play-bar {display: block; height: 4px; background: #333; overflow: hidden}
.jp-play-bar span {display: block; width: 100%; height: 4px; position: relative;
	 background: #333; overflow: hidden}

.jp-current-time, .jp-duration {display: inline;}	 
.jp-play-time-all {position: absolute; bottom: -3px; right: 5px; display: block; text-align: right;
 	font: bold 12px/12px arial;}


/* ====== 404 ===== */
.f-title {
	display: block;
	font-size: 8em;
	line-height: 1.4em;
}
.f-desc {
    display: block;
    font-size: 1.5em;
    line-height: 2;
}
.fourohfour > p {
	width: 90%;

	text-align: left;
}
.f-search {
	text-align: center;
}
