@media screen and (max-width: 1200px) {
  .card-content {
    padding: 15px 40px 10px 40px !important;
  }
}

@media screen and (max-width: 900px) {
  .sidebar1 {
    display: none !important;
  }
  .content {
    margin-left: -30px !important;
    margin-right: 30px !important;
  }
  .card-content {
    padding: 15px 40px 10px 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: 0px;
  }
  .card {
    position: relative !important;
    opacity: 1 !important;
    z-index: 1 !important;
  }
  .not-showing {
    display: block !important;
  }
  .card-upper .glyphicon-menu-left {
    display: none;
  }
  .card-upper .glyphicon-menu-right {
    display: none;
  }
  .card-lower {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .card {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .card-content {
    padding: 15px 20px 10px 20px !important;
  }
  .card-content h1 {
    margin-top: 10px;
    font-size: 2.2em !important;
    line-height: 1.2em !important;
}
}

/*background*/
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

html {
    overflow-x: hidden;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: #222;
}

ul {
  list-style: none;
}

.sidebar1 {
    position: fixed;
    width: 250px;
      color: #fff;
      background-color: rgba(0, 0, 0, .5);
      margin-top: 60px;
      margin-left: 10px;
}

.list {
    color: #fff;
    list-style: none;
    /*padding-left: 0px;*/
}


.list>li:hover, .active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bolder;
}

a {
  color: white;
  opacity: 1;
}

a:hover {
  color: #0080c6;
  opacity: 1;

}

li
{
 cursor: pointer;
}

.outerscroll {
  background-color: rgba(0, 128, 198, 1);
  padding: 5px;
  opacity: 1;
}

.outerscroll:hover {
  background-color: white;
  opacity: 1;
}

.l-item {
  margin-left: -40px;
  font-size: 18px;
}

.scroll-list {
  /*width: 255px;*/
  height: 50%;
  top:0;
  left:0;
  overflow-y: scroll;
  height: 25vh;
}


.content {
  width: auto;
  margin-left: 150px;
  margin-right: -150px;
  position: relative;
  /*overflow: auto;*/
  /*z-index: 1;*/
}

@media (min-width:600px) {
  .sidebar {
    width: 250px;
  }
  .content {
    margin-left: 250px;
  }
}

/*FIX RUNNING TO SIDE*/
@media (max-width:990px) {
  .content {
    margin-right: 150px;
  }
}

.card {
  position: absolute;
  background-color: #f6f6f6;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0;
  z-index: 1;
}

@keyframes slidein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.showing {
  opacity: 1;
  z-index: 2;

  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

.not-showing {
  display: none;
}

.card-upper {
  background-color: #0080c6;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
}

.card-upper .glyphicon-menu-left {
  color: #ffffff;
  float: left;
  margin-left: 25px;
  padding: 10px 0;
}

.card-upper .glyphicon-menu-right {
  color: #ffffff;
  float: right;
  margin-right: 25px;
  padding: 10px 0;
}

.card-content {
  padding: 15px 85px 10px 85px;
}

.card-content h1 {
  font-size: 2.5em;
  line-height: 1.2;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 30px;
}

.card-lower {
  color: #222;
  vertical-align: center;
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
}

.card-lower .last {
  color: #337ab7;
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
}

.card-lower .next {
  color: #337ab7;
  float: right;
  margin-right: 50px;
  margin-bottom: 20px;
}
