p.caption {
  text-align: right;
  margin-top: 0.5%;
}

.banner img {
  position: relative;
  text-align: center;
  width: 1000px;
}

.belowbanner {
  position: relative;
}

div.title {
  position: absolute;
  top: 17%;
  left: 17%;
  width: 68%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3%;
}

@media only screen and (max-width: 40em) {
  div.title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.title h1 {
  margin-top: 0.625rem;
  font-size: 3rem;
  font-family: Biryani;
  font-weight: 600;
}

.title p {
  padding-left: 4%;
  padding-right: 4%;
  font-family: Open Sans;
  font-size: 1rem;
  text-align: left;
}

.main-section h1 {
  text-align: center;
  font-family: Raleway;
  font-size: 3rem;
}

h1.subhead {
  font-size: 1.5rem;
}

.top-bar {
    background: transparent;
    margin-top: 1em;
    height: auto;
    text-align: center;
}

.top-bar-section {
    display: inline-block;
}

.top-bar-section ul {
    text-align: center;
}

.top-bar-section ul li {
   /* display: inline-block; */
    background: transparent;
}

.top-bar-section ul li > a {
    padding: 1em 2em;
}

.top-bar-section ul li > a {
    color: black;
    border-bottom: 3px solid transparent;
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section li:not(.has-form) a:not(.button)
    {
        background: transparent;
    }
    .top-bar-section li:hover:not(.has-form) a:not(.button)
    {
        background: transparent;
    }
    .top-bar-section li.active:not(.has-form) a:not(.button)
    {
        color: black;
        background: transparent;
    }
    .top-bar-section li.active:hover:not(.has-form) a:not(.button)
    {
        color: initial;
        background: transparent;
    }
}

.top-bar-section ul li > a:hover {
    border-color: #4b9bc7; 
}

.top-bar-section ul li.active > a {
    background: transparent;
    color: black;
    border-bottom: 3px solid #0080c6;
}

.top-bar-section ul li.active > a:hover {
    background: initial;
    color: initial;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: initial;
    background: initial;
    color: initial;
}
