@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,900);
@import url(http://fonts.googleapis.com/css?family=Questrial);
*{
	 -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

/*pull quote*/

.pullquote2 {
  padding: 1rem 1rem 0 3.5rem;
  width: 28rem;
  position: relative;
  margin: 0 2rem 2rem 0;
  float: right;
}

.pullquotetext, .pullquote2text
{
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.pullquote {
  padding: 1rem 2.5rem 0rem 1rem;
  width: 28rem;
  position: relative;
  float: left;
}

.quote-author{
	font-family: Georgia, serif;
  	font-style: italic;
  	color: #424242;
}

figure{
	max-width: 50%;
	padding: .5rem 0 .5rem .5rem;
}

figcaption{
	font-family: "Roboto", Arial, sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: .8rem;
}


/*end pq*/


.wrap ul li a {
	-webkit-transition: all 350ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 350ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 350ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 350ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 350ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 0px auto;
	max-width: 180px;
	border-radius: 1px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	font-weight: 600;
	font-size:1em !important;
}

.wrap ul li a.button {
	color: rgba(30, 22, 54, .7);
	box-shadow: rgba(0, 128, 198, 0.4) 0 0px 0px 1px inset;
}

.wrap ul li a.button:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: rgba(0, 161, 249, 0.76) 0 0px 0px 40px inset;
}


h1{
  font-family: "Oswald";
  color: #000;
  font-size: 6em;
  letter-spacing: 15px;
  text-align: center;
  line-height: 1.2;
}


h3.part1, h3.part2, h3.part3{
	text-align: left;
	font-family: 'Roboto', Arial, sans-serif !important;
	font-weight: 900;
	font-size: 5em;
	padding-top: 1em;
	padding-bottom: .1em;
	margin: 0 auto;
	text-transform:uppercase; !important;
}

h2{
	text-align: left;
	font-family: 'Roboto', Arial, sans-serif !important;
	font-weight: 400;
	font-size: 1.6em;
	text-transform:uppercase; !important;
	padding-bottom: 1em;
}

h4{
	text-align: left;
	font-family: 'Roboto', Arial, sans-serif !important;
	font-weight: 400;
	font-size: 1.7em;
	padding-bottom: 1em;
	text-transform:uppercase; !important;
}

h4 a{
	color:black !important;
}

p{
	font-size:1rem;
	line-height: 1.5em;
	color: black;
	font-family: 'Roboto',Arial, sans-serif;
	font-weight: 400;
	margin-top: 0em;
  	margin-bottom: 2em;
}

ul{
	list-style-type: none;
	margin:0;
}

.tab-title > a{
	background-color:white !important;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size:2em;
}


section.top-bar-section{
	margin: 0 auto;
	text-align: center;
}

ul.tabs li {
	float: none !important;
	display: inline-block;
}

.tab-title.active > a {
	color: black !important;
}


.tab-title.active > a:hover{
	color: #fff !important;
}


.header-area{
	max-width: 80%;
	margin: 0 auto;
}

div.first-article{
	margin: 0 20% 0 0;
}

div.second-article{
	margin: 0 auto !important;
	max-width: 75%;
}

div.third-article{
	margin: 0 0 0 20%;
}

@media (max-width: 600px) {
	figure {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	div.second-article, div.first-article, div.third-article{
		margin: 0 auto !important;
		max-width: 95%;
	}

	h3.part1, h3.part2, h3.part3{
		font-size: 3.7em;
	}

	.pullquote2 {
	  padding: 0;
	  position: relative;
	  margin: 0 auto;
	  float: none;
	  max-width: 95%;
	}

	.pullquotetext, .pullquote2text
	{
	  font-family: Georgia, serif;
	  font-style: italic;
	  font-size: 1.2rem;
	  text-transform: uppercase;
	  margin-bottom: 0;
	}
}

/* SLIDER */
.slide-wrapper {
	overflow: hidden;
}

.content-carousel {
	display: flex;
	transform: translateX(100%);
	align-items: flex-start;
	transition: max-height 0.5s cubic-bezier(0.23,1,0.32,1);
}

.content-carousel.reverse {
	transform: translateX(-100%);
}

.content-carousel.set {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), max-height 0.5s cubic-bezier(0.23,1,0.32,1);
}

.content-carousel > .content {
	flex: 1 0 100%;
	display: flex;
	justify-content: center;
	order: 2;
}

.content.active {
	order: 1;
}
