/*css for styling check boxes*/
input[type=checkbox].css-checkbox {
position: absolute; 
overflow: hidden; 
clip: rect(0 0 0 0); 
   height:1px; 
width:1px; 
margin:-1px; 
padding:0;
border:0;
display: none;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px; 
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{
background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}
/*end css for styling check boxes*/


/*general css for styling container/items*/
#container {
   font: 10pt normal Arial, sans-serif;  
}

#container a:visited {
   color: rgb(35, 111, 174);
}

#container .item {
   cursor: pointer;
   overflow: hidden;
   width: 95%;
   border: 5px solid #fff;
   margin: 10px 0 10px 0;
   -webkit-box-shadow: 1px 1px 1px 1px #ccc;  
   -moz-box-shadow: 1px 1px 1px 1px #ccc;  
   box-shadow: 1px 1px 1px 1px #ccc;  
}

#container .item h5 {
   color:black;
   margin-bottom: 0;
   text-align: center;
}
/*end general css*/


/*css for slide in caption starts here*/
#container .item img {  
   left: 0;  
   -webkit-transition: all 300ms ease-out;  
   -moz-transition: all 300ms ease-out;  
   -o-transition: all 300ms ease-out;  
   -ms-transition: all 300ms ease-out;  
   transition: all 300ms ease-out;  
} 

   #container .item .caption {
       background-color: rgba(0,0,0,0.8);  
       position: absolute;  
       color: #fff;  
       z-index: 100;  
       -webkit-transition: all 300ms ease-out;  
       -moz-transition: all 300ms ease-out;  
       -o-transition: all 300ms ease-out;  
       -ms-transition: all 300ms ease-out;  
       transition: all 300ms ease-out;  
       left: 0;  
   }

   #container .item .slide-caption {
	bottom: 0;  
       width: 92%;
       max-height: 55%;
       text-align: left;  
       padding: 5px 10px 10px 10px;  
       left: 100%;  
   }  

   #container .item:hover .slide-caption {  
     background-color: rgba(0,0,0,1) !important;  
     -moz-transform: translateX(-100%);  
     -o-transform: translateX(-100%);  
     -webkit-transform: translateX(-100%);  
     opacity: 1;  
     transform: translateX(-100%);  
   }  

/*end css for slide in caption*/

/*css for ellipsis for over-long descriptions*/
.ellipsis {
   font-family: Georgia, serif;
   max-height: 60px;
}

.ellipsis2 {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   -moz-binding: url(<q>ellipsis.xml#ellipsis</q>);
}

/*css for styling author names*/
.authors {
   font-family: Georgia, serif;
   font-size: 0.8em;
   font-weight: bold;
   margin-top: 15px;
   margin-bottom: 3px;
}

.yr {
   margin-bottom: 5px;
}
