/* ALSO ADDED A FUNCTION TO CUSTOM in INC!! ALSO DON'T FORGET THAT NGGALLERY FOLDER ADDED*/
/*WHERE TO PROPERLY PUT JS LINK AND STUFF*/
/*ADDED MARGIN-LEFT/RIGHT AUTO TO GALLERYVIEW CSS FOR BEAUTY...ALSO SCREWED AROUND WITH THE FOLLOWING DEfAULTS: panel_width: 1000; 
panel_height: 500; enable_overlay=true; around line 920 in js: overlayVisible: true; added click event for overlay and unbind!, hide the caption
when caption is up, took out title, added in a left/right key navigation, added next nav when clicking picture, changed overlay caption and add author credit for 'attrs' */


@media (min-width: 768px)
{
  #topinfo {
  	/*background-image: url(micro-carbon.png);*/
  	background-color: #181818;
  	color: white;
  }
}
  
.page-header h1{
	color: white;
	font-family: 'Palatino Linotype';
	font-size: 50px;
	font-weight: normal;
	opacity: 1.0;
	text-align: center;
	
}
.page-header h2{
	color: white;
	font-family: 'Palatino Linotype';
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	opacity: 1.0;
	margin-top: -10px;
	padding-top: 0px;
	text-align: center;
}
.page-header a img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav#firstnav ul li a, 
nav#firstnav ul li.active a:hover{
	color: #FFFFFF;
}
nav#firstnav ul li a:hover,
nav#firstnav ul li.open a{
	color: #000000;
}
#inthenews > span{
	color: #CCCCCC;
}
#inthenews ul li a{
	color: #BBBBBB;
}
#topsearch {
	background-color: #050505;
}
#topsearch input{
	color: #999999;
}
#topsearch button{
	opacity: 0.8;
}
#topsearch button:hover{
	opacity: 1.0;
}
body {
	background-color: #181818;
	/*background-image: url(micro-carbon.png);*/
}

#post-listing {
	min-height: 700px;
}

/*THE POSTS*/

#photoblog-post-block{
	/*background-image: url(dark-tire.png) !important;*/
	background-color: #050505;
	border: solid;
	border-color: #303030;
	border-radius: 0px 0px 0px 0px;
	color: #BBBBBB;
	font-family: 'Palatino Linotype';
	height: auto;
	margin-bottom: 20px;
	text-align: left;
}
#photoblog-post-block h1 {
	color: #FFFFFF;
	font-size: 24px;
	margin-bottom: 10px;
}
a.photoblog-post-tag {
	background-color: #DE1518;
	border-radius: 0px 0px 0px 0px;
	color: #FFFFFF;
	display: block;
	font-family: 'Helvetica';
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	margin-left: 0px;
	margin-top: 0px;
	opacity: 1.0;
	text-align: center;
	text-transform: uppercase;
	width: 70px;
}
a.photoblog-post-tag:hover {
	
	opacity: 1.0;
	text-decoration: none;
}
a.photoblog-post-tag.pb-tag-archives,
#menu-spectrum-filter .menu-archives.active a,
#menu-spectrum-filter .menu-archives a:hover{
	/*background-color: #3EC113;*/
	background-color: #00730D;
}
a.photoblog-post-tag.pb-tag-campus-spectrum,
#menu-spectrum-filter .menu-campus.active a,
#menu-spectrum-filter .menu-campus a:hover {
	/*background-color: #195DED;*/
	background-color: #00159A;
}
a.photoblog-post-tag.pb-tag-humans-of-westwood,
#menu-spectrum-filter .menu-humans-of-westwood.active a,
#menu-spectrum-filter .menu-humans-of-westwood a:hover {
	/*background-color: #AA21DB;*/
	background-color: #2C0052;
}
a.photoblog-post-tag.pb-tag-sports-spectrum,
#menu-spectrum-filter .menu-sports.active a,
#menu-spectrum-filter .menu-sports a:hover {
	/*background-color: #DE1518;*/
	background-color: #B41711
}
a.photoblog-post-tag.pb-tag-westwoodla,
#menu-spectrum-filter .menu-westwoodla.active a,
#menu-spectrum-filter .menu-westwoodla a:hover{
	/*background-color: #F17810;*/
	background-color: #FF3F0F;
} 
#menu-spectrum-filter .menu-all-stories.active a,
#menu-spectrum-filter .menu-all-stories a:hover{
	background-color: #D3A000;
}
.photoblog-post-image {
	/*border: solid;
	border-color: #606060;*/
	max-height: 384px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	max-width: 95%;
	/*max-height: 384px;*/
	/*padding: 5px 5px 5px 5px;*/
	/*width: 95%;*/
}
.photoblog-post-image img {
	margin-left: auto;
	margin-right: auto;
	max-height: 384px;
	width: auto;
}
.photoblog-text {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 95%;

}
.photoblog-text#pb-gallery-text h1 a{
	font-size: 30px;
}
.photoblog-text a, .photblog-text a:visited {
	color: #FFFFFF;
}
.photoblog-text a:hover {
	/*text-decoration: none;*/
}
.photoblog-text p {
	font-family: 'Helvetica';
	line-height: 18px;
	font-size: 14px;
}
#photoblog-post-author {
	font-style: italic;
}
.pager-pb{
	margin-top: 50px;
}
.pager-pb .page-numbers {
	border-color: #CCCCCC;
	color: #CCCCCC;
}
.pager-pb .page-numbers:hover {
	color: #000000;
}
.pager-pb .page-numbers.current:hover {
	color: #FFFFFF;
}
/*THE SIDEBAR*/
#sidebar-reference{
	width: 100%;
	display: block;
	clear: both;
}
#sidebar-inside {
	border-left: none;

}
#sidebar-inside > div, #sidebar-inside > section {
	padding-left: 0px;
	padding-bottom: 10px;
}
#sidebar-inside > div {
	border-bottom: none;
}

.sidebar-menu{
	width: 250px;

}
#sidebar-menu ul{
	color: #549053;
	list-style: none;
}
#menu-spectrum-filter {
	margin: 0;
	width: 100%;
}
#menu-spectrum-filter li {
	color: #FFFFFF;
	display: block;
	font-family: 'Arial';
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	width: 100%;
}/*
#menu-sidebar-filter li:hover{
	background-color: #605000;
	border-color: #909090;
	border-radius: 5px;
	border-style: double;
	border-width: 1px;
	margin-left: -15%;
	width: 107.5%;
}*/
#menu-spectrum-filter li a{
	display: block;
}
#menu-spectrum-filter li a,
#menu-spectrum-filter li a:visited,
#menu-spectrum-filter li a:hover{
	color: #BBBBBB;

	text-decoration: none;
}
#menu-spectrum-filter li a:hover,
#menu-spectrum-filter li.active a{
	color: #FFFFFF;
}

/*END DELETE*/
/*
.all-stories.active a,
.all-stories a:hover{
	background-color: #D3A000;
	color: #FFFFFF !important;
}
.campus.active a,
.campus a:hover{

}*/


.menu-sidebar hr {
	margin-top: 10px; margin-left: auto; margin-right: auto; margin-bottom: 10px; height: 1px; width: 90%;
}

#sidebar-about-link {
	color: #999999;
	/*font-family: "Palatino Linotype";*/
	font-size: 16px;
	font-style: italic;
	line-height:20px;
	margin-left: 20px;
}
#sidebar-about-link:hover {
    color: #FFFFFF;

    text-decoration: none;
}


/*NEXTGEN GALLERY CSS TEMP SOLUTION*/

.ngg-singlepic {
	background-color: #FFFFFF;
	height: inherit;
	padding: 0px;
	width: 100%;
}


/*GALLERY PAGE*/
#pb-gallery-block {/*
	border: solid;
	border-color: #303030;
	border-radius: 5px;
	*/
	color: #BBBBBB;
	font-family: 'Palatino Linotype';
	height: auto;
	margin-bottom: 20px;
	text-align: left;
	width: 90%;
}
#pb-gallery-image {
	/*
	border: solid;
	border-color: #606060;
	*/

	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	width: 100%;
}

/*BEHIND THE BLOG */
.pb-btb-text {
	color: #BBBBBB;
}

/*GALLERYVIEW OVERWRITES/ADDITIONS */
.gv_galleryWrap { 
	margin-left: auto;
	margin-right: auto;
}
.gv_overlay {
	cursor: pointer;
	opacity: .7;
}
.gv_panel {
	background-image: url(subtle-carbon.png);
}

/* SOCIAL MEDIA */
/* Float the twitter icon to the right */
.photoblog-sm > iframe {
  float: right;
}

/*HOWEWOPAGE*/
#page-listing {
	/*margin-left: 0;*/
}
#howewo-banner {
	background-image: url(/img/howewo-banner.jpg);
	height: 250px;
}
.span3 {
}
#howewo-container {
	display: none;
}
.howewo-column {
	margin-left: 0px;
	margin-right: 30px;
}
.howewo-img-content {
	display: none;
}

.howewo-img-wrap {
	margin: 0 0 30px 0;
	position: relative;
}
.howewo-img-wrap img{
	width: 100%;
}
.howewo-img-wrap div {
	display: none;
}
.howewo-img-wrap:hover div {
	background: rgba(0,0,0,0.7);
	display: inline;
	height: 100%;
	/*opacity: .5;*/
	/*padding: 5px 0px 5px 0px;*/
	position: absolute;
	width: 100%;
	top: 0px;
}
.howewo-img-wrap:hover div p{
	color: white;
	font-size: 50px;
	opacity: 1.0;
	text-indent: 5px;
	width: 100%;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
    user-select: none;
}
#howewo-lightbox {
	/*if need to work on IE, can use overlay.png from this site: 
	http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/super-simple-lightbox-with-css-and-jquery/;*/
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}