.main {
	font-family: Roboto;
	font-weight: 300;
	background-color: #fafafa;
    padding-top: 1em;
    padding-bottom: 2em;
}

.main p, .main h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 0.9rem;
}

.main .card {
	background-color: #fff;
	border-radius: 1em;
	padding: 1em;
	border: 1px solid #eee;
}

.main h1 {
    text-transform: none;
    margin-top:none;
}

.main h1, .main h2 {
	text-align: center;
}

.main h1, .main h3 {
	font-weight: 400;
	font-size: 4rem;
	color: #0080c6;
	font-family: Alegreya;
	font-style: italic;
	margin-bottom: 0;
}

.main h2, .main h4 {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	color: #666;
}

.main h3 {
	font-size: 1.7rem;
	margin-bottom: 0.2em;
}

.main h4 {
	text-align: left;
	font-size: 1rem;
	border-bottom: 1px solid #eee;
    display: block;
}

.main b {
	font-weight: 500;
}

.main hr {
	border-color: #0080c6;
}

.main .audio, .main .image {
	width: 50%;
	float: right;
	margin: 0 0 1em 1em;
}

.main a {
	color:#0080c6;
}


.main .my-slider li {
	height: 30rem;
	overflow: auto;
	padding: 1em;
}

.unslider-nav {
	margin: 1em auto 0em auto;
}

.main .caption {
	text-align: right;
	font-size: 0.7em;
	display: block;
    margin-top:none;
}
