

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

/* --- top links */
.navlist {
    list-style: none;
    display: inline;
}
#toplinks-info {
    padding:3px 0;
    text-align:center;
}

.navlist li {
	display:inline;
}
#toplinks-info li {
	border-right: 1px solid #bcbcbc;
	padding:0 5px 0 0;
}
#toplinks-info li a {
	color:#333;
}
#toplinks-info li a:hover {
	color:#08C;
}
#toplinks-info li:first-child {
	padding-left:5px;
}
#toplinks-info li:last-child {
	border-right:none;
}

div#toplinks ul, div#toplinks div {
    background-color: #ededed;
    border-radius: 0px 0px 3px 3px;
}

div#toplinks-socialmedia {
	padding:3px 0;
	text-align:center;
}

#toplinks-info li a#toplinks-info-donate {
	color:#234a2c;
}

/* --- top-level navigation */

div#firstnav-container-back {
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
	
	background: rgb(245,246,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,245,1) 0%, rgba(219,220,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,245,1)), color-stop(100%,rgba(219,220,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f5', endColorstr='#dbdcdc',GradientType=0 ); /* IE6-9 */

}


nav#firstnav ul {
	padding:0;
	margin-bottom:0;
}


nav#firstnav ul li {
	display:block;
	float:left;
}
nav#firstnav ul li a {
	border-right: 1px solid #dfe0de;
}
nav#firstnav ul li:first-child a {
	border-left: 1px solid #dfe0de;
}

nav#firstnav ul li a {
	font-size:1.1em;
	padding:12px 10px;
	display:block;
	color:black;
}
nav#firstnav ul li a:hover {
	text-decoration:none;
	
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(178,178,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */

}

nav#firstnav ul li.selected a, nav#firstnav ul li.selected a:hover {
	background: rgb(62,89,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(62,89,108,1) 0%, rgba(29,128,202,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,89,108,1)), color-stop(100%,rgba(29,128,202,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e596c', endColorstr='#1d80ca',GradientType=0 ); /* IE6-9 */
}

nav#firstnav ul li.selected a {
	color:white;
}

/* --- second-level navigation */

div#secondnav-container-back {
	border-bottom: 1px solid black;
	margin-bottom:10px;

	background: rgb(14,14,14); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(14,14,14,1) 0%, rgba(52,52,52,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
}

nav#secondnav ul {
	padding:0;
	margin:0;
}

nav#secondnav ul li a {
	color:#DDD;
	padding:5px 10px;
	display:block;
	float:left;
}
nav#secondnav ul li a:hover {
	text-decoration:underline;
}
span.more_text {
	color:white;
	padding:5px 20px 5px 28px;
	font-weight:bold;
	float:left;
	display:block;
}


/* ===== Responsive Styles ========================================================
   Author:
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: 480px) { 
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
}

/* Large desktop */
@media (min-width: 1200px) { 
}
