

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
  
[class^="headline-"],
[class*=" headline-"] {
	font-family: "Palatino Linotype";
	font-weight:400;
	font-size:24px;
	line-height: 25px;
	margin-bottom:10px;

}
.headline-a {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
    font-size: 2.3em;
    line-height: 1em;
}
 
.headline-b {
	font-family: "Palatino Linotype";
	font-weight:bold;
	font-size: 28px;
	line-height: 28px;
}

.headline-column {
	font-style:italic;
}

.timestamp {
	color: #AAA;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
}

.timestamp-now {
	color:#f89406;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2);
}

.photocredit {
    font-style: italic;
    display: block;
    float: right;
    text-align: right;
}

.byline {
    font-family: "Palatino Linotype";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

.thumbnail-a {
    float: left;
    margin-right: 10px;
}

article {
	display:block;
	margin:0 0 23px 0;
}

.label-now,
.badge-now {
	background-color:#f89406;
}



/* --- top links */
div#nameplate-image {
	padding-bottom: 10px;
}

.navlist {
    list-style: none;
    display: inline;
}
#toplinks-info {
    padding:3px 0;
    text-align:center;
}

.navlist li {
	display:inline;
}
#toplinks-info li {
	border-right: 1px solid #bcbcbc;
	padding:0 5px 0 0;
}
#toplinks-info li a {
	color:#333;
}
#toplinks-info li a:hover {
	color:#08C;
}
#toplinks-info li:first-child {
	padding-left:5px;
}
#toplinks-info li:last-child {
	border-right:none;
}

div#toplinks ul, div#toplinks div {
    background-color: #ededed;
    border-radius: 0px 0px 3px 3px;
}

div#toplinks-socialmedia {
	padding:3px 0;
	text-align:center;
}

#toplinks-info li a#toplinks-info-donate {
	color:#234a2c;
}

#nameplate-date {
    color: white;
    background-color: #333;
    display: block;
    height: 46px;
    top: 35px;
    position: relative;
    border-radius: 3px 3px 0 0;
}

.nameplate-date-week {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 5px;
    padding-left:17px;
}

.nameplate-date-today {
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 2px;
    padding-left:17px;
}

.nameplate-date-weather {
    display: block;
    float: left;
    position: absolute;
    top: 10px;
    left: 8px;
}
.nameplate-date-weather a span {
	color:white;
	display:block;
    margin-top: -11px;
    text-shadow: 0 0 5px black;
}
.nameplate-date-weather a:hover {
	text-decoration:none;
	color:#222;
}

/* --- top-level navigation */

div#firstnav-container-back {
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
	
	background: rgb(245,246,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,245,1) 0%, rgba(219,220,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,245,1)), color-stop(100%,rgba(219,220,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,245,1) 0%,rgba(219,220,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f5', endColorstr='#dbdcdc',GradientType=0 ); /* IE6-9 */

}


nav#firstnav ul {
	padding:0;
	margin-bottom:0;
	width:auto;
}


nav#firstnav ul li {
	display:block;
	float:left;
}
nav#firstnav ul li a {
	border-right: 1px solid #dfe0de;
}
nav#firstnav ul li:first-child a {
	border-left: 1px solid #dfe0de;
}

nav#firstnav ul li a {
	font-size:1.1em;
	padding:12px 10px;
	display:block;
	color:black;
	
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);

}
nav#firstnav ul li a:hover {
	text-decoration:none;
	
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(178,178,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(178,178,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */

}

nav#firstnav ul li.selected a, nav#firstnav ul li.selected a:hover {
	background: rgb(62,89,108); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(62,89,108,1) 0%, rgba(29,128,202,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,89,108,1)), color-stop(100%,rgba(29,128,202,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(62,89,108,1) 0%,rgba(29,128,202,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e596c', endColorstr='#1d80ca',GradientType=0 ); /* IE6-9 */
}

nav#firstnav ul li.selected a {
	color:white;
}

/* --- second-level navigation */

div#secondnav-container-back {
	border-bottom: 1px solid black;
	margin-bottom:10px;

	background: rgb(14,14,14); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(14,14,14,1) 0%, rgba(52,52,52,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(14,14,14,1) 0%,rgba(52,52,52,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
}

nav#secondnav ul {
	padding:0;
	margin:0;
}

nav#secondnav ul li a {
	color:#DDD;
	padding:5px 10px;
	display:block;
	float:left;
}
nav#secondnav ul li a:hover {
	text-decoration:underline;
}
span.more_text {
	color:white;
	padding:5px 20px 5px 28px;
	font-weight:bold;
	float:left;
	display:block;
}

div.firstnav-search {
	float: right;
	margin-top: 8px;
}

/*--- rotator */
div#topcontent-rotator {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 10px;
}

div#topcontent-rotator ul {
	padding-left:0;
	margin-left:0;
	text-align:center;
}

div#topcontent-rotator ul li a {
	color:#333;
	margin:0 10px;
}

div#topcontent-rotator ul li.rotate-current a {
	font-weight:bold;
	color:black;
}

div#topcontent-rotator-nav {
	height:20px;
	
	text-align:center;
	border: 1px solid #d9d9d9;
	border-bottom:none;

	
	background: rgb(245,246,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,245,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,245,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,245,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,245,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f5', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

div.topcontent-rotator-control {
	padding-top:8px;
}

/* ===== Additional Icons (Social Media) ========================================================
   Author:
   ========================================================================== */
[class^="smicon-"],
[class*=" smicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/socialicons_sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="smicon-"]:last-child,
[class*=" smicon-"]:last-child {
  *margin-left: 0;
}

.smicon-email {
	background-position:0 0;
}

.smicon-fb {
	background-position:-18px 0;
}

.smicon-flickr {
	background-position:-36px 0;
}

.smicon-google {
	background-position:-54px 0;
}

.smicon-rss {
	background-position:-72px 0;
}

.smicon-spotify {
	background-position:-90px 0;
}

.smicon-twitter {
	background-position:-108px 0;
}

.smicon-vimeo {
	background-position:-126px 0;
}

.smicon-youtube {
	background-position:-144px 0;
}



[class^="wicon-"],
[class*=" wicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/weathericons_sprite.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="wicon-"]:last-child,
[class*=" wicon-"]:last-child {
  *margin-left: 0;
}

.wicon-clouds{
	background-position:0 0;
}

.wicon-cloudy{
	background-position:-18px 0;
}
.wicon-lightning{
	background-position:-36px 0;
}
.wicon-rain{
	background-position:-54px 0;
}
.wicon-snow{
	background-position:-72px 0;
}
.wicon-sun{
	background-position:-90px 0;
}




/* ===== Responsive Styles ========================================================
   Author:
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: 480px) { 
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
}

/* Large desktop */
@media (min-width: 1200px) { 
}
