body {

}

.db-content .candidates h3 {
  font-family: 'Raleway';
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1em;
}

.db-content .candidate div {
  margin-top: 2em;
}