body {

}

.db-content .candidates h3 {
  font-family: 'Raleway';
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1em;
}

.db-content .candidate div {
  margin-top: 2em;
}

.db-content .candidate .candidateinfo div {
  margin-top: 0.3em;
}

.candidates-content {
    /*display: block; */
    /*position: relative; */
    /*top: -120px; */
    /*visibility: hidden;*/
}

.side-nav .active {
	font-weight: 800;
}