body {
	
}

.candidates-content {
    display: block; 
    position: relative; 
    top: -90px; 
    visibility: hidden;
}

.side-nav {
	/*position: sticky;*/
}

.position-title {
	/*font-weight: 500;*/
}