body {

}

.db-content .candidates h3 {
  font-family: 'Raleway';
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1em;
}

.db-content .candidate {
  margin-top: 2em;
}

.db-content .candidate .candidateinfo div {
  margin-top: 0.3em;
}

.candidate .slate-logo {
    width: 7%; 
    margin-right: .1em;
}

.candidate .candidate-name {
    display: inline;
    font-size: 2em;
}

.candidates-content {
    /*display: block; */
    /*position: relative; */
    /*top: -120px; */
    /*visibility: hidden;*/
}

.side-nav .active {
	font-weight: 800;
}

#filter>div {
  margin-bottom: 10px;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.top-bar {
    background: transparent;
    margin-top: 1em;
    height: auto;
    text-align: center;
}

.top-bar-section {
    display: inline-block;
}

.top-bar-section ul {
    text-align: center;
}

.top-bar-section ul li {
   /* display: inline-block; */
    background: transparent;
}

.top-bar-section ul li > a {
    padding: 1em 2em;
}

.top-bar-section ul li > a {
    color: black;
    border-bottom: 3px solid transparent;
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section li:not(.has-form) a:not(.button)
    {
        background: transparent;
    }
    .top-bar-section li:hover:not(.has-form) a:not(.button)
    {
        background: transparent;
    }
    .top-bar-section li.active:not(.has-form) a:not(.button)
    {
        color: black;
        background: transparent;
    }
    .top-bar-section li.active:hover:not(.has-form) a:not(.button)
    {
        color: initial;
        background: transparent;
    }
}

.top-bar-section ul li > a:hover {
    border-color: #4b9bc7; 
}

.top-bar-section ul li.active > a {
    background: transparent;
    color: black;
    border-bottom: 3px solid #0080c6;
}

.top-bar-section ul li.active > a:hover {
    background: initial;
    color: initial;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: initial;
    background: initial;
    color: initial;
}



/*!
 * LABELAUTY jQuery Plugin Styles
 *
 * @file: jquery-labelauty.css
 * @author: Francisco Neves (@fntneves)
 * @site: www.francisconeves.com
 * @license: MIT License
 */

/* Prevent text and blocks selection */
input.labelauty + label ::selection { background-color: rgba(255, 255, 255, 0); }
input.labelauty + label ::-moz-selection { background-color: rgba(255, 255, 255, 0); }

/* Hide original checkboxes. They are ugly! */
input.labelauty { display: none !important; }

/*
 * Let's style the input
 * Feel free to work with it as you wish!
 */
input.labelauty + label
{
  display: table;
  font-size: 11px;
  width: 120px;
  padding: 10px;
  background-color: #efefef;
  color: #b3b3b3;
  cursor: pointer;

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;


  transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* Stylish text inside label */

input.labelauty + label > span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked
{
  display: inline-block;
  line-height: 16px;
  vertical-align: bottom;
}

/* Stylish icons inside label */

input.labelauty + label > span.labelauty-unchecked-image,
input.labelauty + label > span.labelauty-checked-image
{
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-position: left center;

  transition: background-image 0.5s linear;
  -moz-transition: background-image 0.5s linear;
  -webkit-transition: background-image 0.5s linear;
  -o-transition: background-image 0.5s linear;
}

/* When there's a label, add a little margin to the left */
input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked
{
  margin-left: 7px;
}

/* When not Checked */
input.labelauty:not(:checked):not([disabled]) + label:hover
{
  background-color: #eaeaea;
  color: #a7a7a7;
}
input.labelauty:not(:checked) + label > span.labelauty-checked-image
{
  display: none;
}

input.labelauty:not(:checked) + label > span.labelauty-checked
{
  display: none;
}

/* When Checked */
input.labelauty:checked + label
{
  background-color: #3498db;
  color: #ffffff;
}

input.labelauty:checked:not([disabled]) + label:hover
{
  background-color: #72c5fd;
}
input.labelauty:checked + label > span.labelauty-unchecked-image
{
  display: none;
}

input.labelauty:checked + label > span.labelauty-unchecked
{
  display: none;
}

input.labelauty:checked + label > span.labelauty-checked
{
  display: inline-block;
}

input.labelauty.no-label:checked + label > span.labelauty-checked
{
  display: block;
}

/* When Disabled */
input.labelauty[disabled] + label
{
  opacity: 0.5;
}

/* Add a background to (un)checked images */
input.labelauty + label > span.labelauty-unchecked-image
{
  background-size: 16px 16px;
}

input.labelauty + label > span.labelauty-checked-image
{
  background-size: 16px 16px;
}

input.labelauty + label[for=BU] > span.labelauty-unchecked-image
{
  background-image: url(/img/usac-2015.BU.logo.svg);
}

input.labelauty + label[for=BU] > span.labelauty-checked-image
{
  background-image: url(/img/usac-2015.BU.logo.svg);
}

input.labelauty + label[for=LA] > span.labelauty-unchecked-image
{
  background-image: url(/img/usac-2015.LA.logo.svg);
}

input.labelauty + label[for=LA] > span.labelauty-checked-image
{
  background-image: url(/img/usac-2015.LA.logo.svg);
}
input.labelauty + label[for=IND] > span.labelauty-unchecked-image
{
  background-image: url(/img/usac-2015.IND.logo.svg);
}

input.labelauty + label[for=IND] > span.labelauty-checked-image
{
  background-image: url(/img/usac-2015.IND.logo.svg);
}
input.labelauty + label[for=TAP] > span.labelauty-unchecked-image
{
  background-image: url(/img/usac-2015.TAP.logo.svg);
}

input.labelauty + label[for=TAP] > span.labelauty-checked-image
{
  background-image: url(/img/usac-2015.TAP.logo.svg);
}
