/* ==== 404 ======================================= */
.f-title {
  display: block;
  font-size: 8em;
  line-height: 1.4em;
}
.f-desc {
    display: block;
    font-size: 1.5em;
    line-height: 2;
}
.fourohfour > p {
  width: 90%;
  text-align: left;
}
.f-search {
  text-align: center;
}
