// hide a bunch of elements for printing
a:after, #stickyheader, #stickyheader-small, #stickyalias, .below-header, .ssba, 
.author-wrapper, #comment-policy, #disqus_thread, #sidebar-list, .db-footer 
{
    display: none;
}

div#stickyalias {
    // need `visibility: hidden` instead of `display: none` for this one b/c
    // the element has a JS-applied `display: block` inline style
    visibility: hidden;
}