$db-nav-bg-color: #313232;
$db-classifieds-bg-color: #d9d9d8;
$db-blue: #0080c6;

@import "settings";
@import "foundation";

$db-nav-width: rem-calc(125);
$db-nav-padding: rem-calc(10);

$db-ad-leaderboard-width: rem-calc(728);
$db-ad-rectangle-width: rem-calc(320);
$db-ad-banner-width: rem-calc(468);
$db-ad-padding: rem-calc(10);

$db-masthead-description-size: rem-calc(10);
$db-masthead-subcategory-size: rem-calc(36);

/* === The Quad =================================== */
// used for paragraphs at http://dailybruin.com/category/quad/
.quad-explainer {
      text-align: left;
      font-size: 0.9rem;
      margin-top: 0.3rem;
}
// .db-story-breaking-1 is basically "the quad" section on the homepage now; it can also be targeted by .large-4
.db-story-breaking-1 {
  border-bottom: thin lightgrey solid;
}
.db-story-breaking-1:last-child {
  border-bottom: none;
}
.db-story-breaking-1 h3 a {
  font-weight: normal;
}

/* === Department Pages =========================== */
// ex: http://dailybruin.com/category/arts-entertainment/
.db-section-side h2{
  font-size: 0.9rem;
}
.db-section-cp img {
  max-height: 300px;
}
.db-section-thumb img {
  max-height: 200px;
}
.db-list img {
  margin-bottom: 0.625rem;
}
.pagination-centered{
  font-size: 1rem;
}
.page-header h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 0.5rem;
}

// self-explanatory but could not find anywhere
figure, figure.alignnone {
  float: right;
  margin: 0.5rem 0 1.5rem 0.5rem;
  font-size: 0.75rem;
}
// self-explanatory but could not find anywhere
blockquote {
    width: 30%;
    font-size: 150%;
    font-style: italic;
    float: right;
    border-left: solid #767676;
    margin: 1%;
    padding-left: 2%;

}
@media (max-width: 480px) {
  blockquote {
    width: 95%;
    margin-bottom: 1em;
  }
}

// appears to have been an svg logo of the daily bruin made but never used
.db-logo-spectrum {
  display: none;
}

// appears only on front page
.thumbnail-a {
  float: right;
  margin-left: 10px;
}

//contains the two center articles on the front page, gives the gray column lines
.db-story-center {
  border-left: thin solid lightgrey;
  border-right: thin solid lightgrey;
}

// used for the accompanying paragraph(s) for articles under video department
// ex: http://dailybruin.com/2017/02/16/bruin-connections-is-back/
.video-story p {
  text-align: left;
}

// only appears on article pages
#comment-policy {
  font-style: italic;
  font-size: 0.75em;
  margin-top: 10px;
}

// is used on the buttons when you go through article archives
// ex: http://dailybruin.com/category/news/page/3/
.db-pagination a, .db-pagination span {
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  margin: 5px 5px;
  border: thin solid lightgrey;
}
.db-footer {
  color: grey;
  line-height: 3;
}
// KEEP THESE HIDDEN
// if they are shown, they mess up the whole front page and add a whole new blank section
.db-story-m {
  padding-right: 25px;
  display:none;
}
.db-story-m hr {
  border: white;
}

/* === SUM Bar (Front Page) ======================= */
// it's the block of articles from news, opinions, a&e, and sports
.db-sum {
  border-right: thin solid lightgrey;
}

.db-sum:last-child {
  border-right: none;
}

.db-sum img{
  margin-bottom: 0.5rem;
}

/* === Advertisements ============================= */
#side-ad {
  text-align: center;
}
#ad-banner-small {
  text-align: center;
}
//this is the list of "sponsored links" underneath the featured project at the bottom of the home page
.featured-ads ul {
  font-size: 0.3rem;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

/* ==== 404 ======================================= */
.f-title {
  display: block;
  font-size: 8em;
  line-height: 1.4em;
}
.f-desc {
    display: block;
    font-size: 1.5em;
    line-height: 2;
}
.fourohfour > p {
  width: 90%;
  text-align: left;
}
.f-search {
  text-align: center;
}

/* === Do Not Exist =============================== */
.breaking-time {
  color: #a81817;
}
.db-content .db-story .author-photo {
  display: inline-block;
  margin: 0;
  margin-right: 1rem;
}
// does not exist, but there is .db-image-caption
.caption {
  margin-top: 1rem;
  color: grey;
}
// .columns is used to designate articles it appears
// but db-infobox is nowhere to be found
.columns div .db-infobox {
  background-color: white;
  background-color: #F9F9F9;
  width: 200px;
  float: right;
  padding: 1.1rem;
  margin-left:10px;
  clear:both;
}
@media #{ $small-only } {
  .columns div .db-infobox {
      float:none;
      margin-left: auto;
      margin-right: auto;
  }
}
// does not exist, but there is an id #side-ad in use
.side-ads {
    margin: 30px 0;
}
.db-large-title {
  font-size: 2rem;
  line-height: 1.3;
}

@media print {
  @import 'print';
}
