$db-nav-bg-color: #313232;
$db-classifieds-bg-color: #d9d9d8;
$db-blue: #0080c6;

@import "settings";
@import "foundation";

$db-nav-width: rem-calc(125);
$db-nav-padding: rem-calc(10);

$db-ad-leaderboard-width: rem-calc(728);
$db-ad-rectangle-width: rem-calc(320);
$db-ad-banner-width: rem-calc(468);
$db-ad-padding: rem-calc(10);

$db-masthead-description-size: rem-calc(10);
$db-masthead-subcategory-size: rem-calc(36);



// Daily Bruin additions

.db-off-canvas-wrap {
  .tab-bar {
    -webkit-backface-visibility: hidden;
    background: #FFFFFF;
    color: #FFFFFF;
    line-height: 5rem;
    position: relative;

    .menu-icon h1{
      font-weight: bold;
      font-size: 1.2rem;
      margin-left: 25px;
      line-height: 5.3rem;
    }

    .search-icon{
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 5.3rem;
      margin-right: 25px;
      color: black;
    }

    .search-icon i {
      display: inline;
      font-size: 1.2rem;
      line-height: 5.3rem;
      color: black;
    }

    img {
      max-height: $tabbar-height;
    }
  }

  .db-content {
    padding: 0.625rem;
    padding-top: 0rem;
    font-size: 0.75rem;
    background-color: white;
    margin: 0 auto;

    .flex-video {
      margin: $db-nav-padding;
    }

    .breadcrumbs {
      border-bottom: rem-calc(1) solid $aluminum;
    }

    .sub-nav {
      margin: 0;
      padding-bottom: rem-calc(4);
      border-bottom: rem-calc(1) solid $aluminum;
      color: $jet;
    }

    a,
    a:hover {
      color: #0080c6;
    }
    a:hover {
      opacity: 0.8;
    }

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      margin-top: rem-calc(16);
    }

    .db-post-headline h1{
      font-family: 'Roboto Slab', serif;
      font-size: 2.5em;
      line-height: 1.2;
      text-transform: none;
      font-weight: 400;
    }

    h2,
    h3 {
      font-weight: 400;
      font-family: 'Roboto Slab', serif;
      color: black;
      line-height: 1.2;
    }

    .db-story-c1 h2 {
      font-size: 1.4rem;
      line-height: 1.4;
    }

    h2 a,
    h2 a:hover{
      color: black;
    }

    h3 a,
    h3 a:hover{
      color: black;
    }

    .db-sum h3 a {
      font-weight: 700;
      font-size: 0.85rem;
    }

    h4 {
      text-transform: uppercase;
      font-weight: bold;
      display: inline;
    }

    h5 {
      display: inline;
    }

    .db-story-a h2 a,
    .db-story-b h2 a,
    .db-story-d h3 a,
    .db-story-e h3 a{
      font-weight: 700;
    }

    .db-post-content,
    .db-post-content p {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 0.9rem;
    }

    .in-the-news {
      list-style-type: none;
      text-align: left; 
      display: inline-block;
      margin: 0;
      font-weight: 700;
    }

    .in-the-news li{
      display: inline-block;
      font-family: 'Roboto Slab', serif;
      margin-left: 0.5rem;
    }

    .in-the-news li a{
      font-weight: 400;
      font-size: 0.9375rem;
    }

    .db-image {
      img {
        margin-top: rem-calc(8);
        &.db-image-no-margin {
          margin: 0;
        }
      }
      .db-image-caption{
        font-size: 0.705rem;
        line-height: 1.4;
        padding-top: rem-calc(4);
        color: $steel;
      }
    }

    .db-ad-leaderboard {
      width: $db-ad-leaderboard-width;
      margin: $db-ad-padding auto;
      @media only screen and (max-width: $db-ad-leaderboard-width + ($db-ad-padding * 2)) {
        display: none;
      }
    }

    .db-ad-banner {
      width: $db-ad-banner-width;
      margin: $db-ad-padding auto;
    }

    .db-ad-rectangle {
      width: $db-ad-rectangle-width;
      margin: $db-ad-padding auto;
    }

    .db-masthead { // for vertical aligning descrption and date
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      -ms-align-items: flex-end;
      -webkit-align-items: flex-end;
      align-items: center;

      p {
        font-size: $db-masthead-description-size;
        text-align: center;
        margin: 0;
      }
      .db-subcategory {
        h1 {
          margin: 0;
          font-family: $font-family-serif;
          font-size: $db-masthead-subcategory-size;
          @media #{ $small-only } {
            font-size: ($db-masthead-subcategory-size * 2 / 3);
            margin-top: rem-calc(-10);
          }
        }
      }
    }

    .db-story {
      div {
        margin: rem-calc(10) 0 rem-calc(10);
        margin-bottom: 0;
      }

      .db-classifieds {
        border: rem-calc(2) solid $db-classifieds-bg-color;
      }

      .db-story-fe {
        .db-image {
          h2 {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-light;
            font-size: rem-calc(40);
            margin-top: (-1 * ( rem-calc(40) + $db-ad-padding * 4));
            padding: $db-ad-padding * 2;
            background-color: rbga(255,255,255,0.2);
          }
          h3 {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-light;
            text-align: center;
            margin-top: (-1 * ($h3-font-size + $db-ad-padding * 2));
            padding: $db-ad-padding;
            background-color: rbga(255,255,255,0.2);
          }
        }
      }
    }

    /*SUB LIST IN CATEGORY PAGE*/
    .db-sub-list-col ul{
      list-style-type: none;
      text-align: left;
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-rule: thin outset lightgrey; /* Chrome, Safari, Opera */
        -moz-column-rule: thin outset lightgrey; /* Firefox */
        column-rule: thin outset lightgrey;
    }
    .db-sub-list-col li{
      display: block;
      padding: 0 0.5rem;
    }
    .db-sub-list-col li a{
      color: grey;
    }
    .db-sub-list ul{
      list-style-type: none;
      text-align: center;
      margin-left: 0;
    }
    .db-sub-list li{
      display: inline-block;
      padding: 0 0.5rem;
      border-right: lightgrey thin solid;
    }
    .db-sub-list li a{
      color: grey;
    }
    .db-sub-list li:last-child{
      border-right: none;
    }

    .db-footer {
      p {
        font-size: rem-calc(10);
        color: rgba(0,0,0,0.75);
      }

      ul {
        margin: rem-calc(10) 0 rem-calc(10) 0;

        li {
          display: inline-block;
          list-style-type: none;
          padding: 0 rem-calc(16) 0 rem-calc(16);
          p {
            display: inline;
          }
        }
      }
    }

    .db-divide {
      border-bottom: thin solid #222222;
      margin-top: rem-calc(10);

      .postfix {
        border: none;
        background-color: $white;
        margin: 0;
        &:hover {
          color: $aluminum;
        }
      }
    }
  }
}

.page-header h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 0.5rem;
}

.db-pagination a,
.db-pagination span {
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  margin: 5px 5px;
  border: thin solid lightgrey;
}

.db-story-breaking-1 {
  border-bottom: thin lightgrey solid;
}
.db-story-breaking-1:last-child {
  border-bottom: none;
}
.db-story-breaking-1 h3 a {
  font-weight: normal;
}

.section-left {
  border-right: lightgrey thin solid;
}

.db-large-title {
  font-size: 2rem;
  line-height: 1.3;
}

.db-off-canvas-wrap .db-content .db-story .db-story-c1,
.db-off-canvas-wrap .db-content .db-story .db-story-c1 img {
  margin-top:0;
}

.db-section-side h2{
  font-size: 0.9rem;
}

.db-section-cp img {
  max-height: 300px;
}

.db-section-thumb img {
  max-height: 200px;
}

.db-list img {
  margin-bottom: 0.625rem;
}

.db-logo-spectrum {
  display: none;
}

#multSlider a:hover {
  opacity: 1;
}

.pagination-centered{
  font-size: 1rem;
}

.db-classifieds-header h1 {
  border-bottom: 2pt solid black;
  padding-bottom: 10px;
}

.db-footer {
  color: grey;
  line-height: 3;
}

.db-off-canvas-wrap .db-content .db-story #db-classifieds {
  border: 1px solid grey;
}


blockquote {
  width: 30%;
    font-size: 150%;
    font-style: italic;
    float: right;
    border-left: solid #767676;
    margin: 1%;
    padding-left: 2%;
  
}

@media (max-width: 480px) {
  blockquote {
    width: 95%;
    margin-bottom: 1em;
  }
}

.thumbnail-a {
  float: right;
  margin-left: 10px;
}

#side-ad {
  text-align: center;
}

#ad-banner-small {
  text-align: center;
}

.db-infobox {
    background-color: white;
    /*border: 1px solid #dbdbdb;*/
    background-color: #F9F9F9;
    width: 200px;
  float: right;
  padding: 1.1rem;
  margin-left:10px;
  clear:both;
}

.video-story p {
  text-align: left;
}

#comment-policy {
  font-style: italic;
  font-size: 0.75em;
  margin-top: 10px;
}

figure, figure.alignnone {
  float: right;
  margin: 0.5rem 0 1.5rem 0.5rem;
  font-size: 0.75rem;
}

.db-story-center {
  border-left: thin solid lightgrey;
  border-right: thin solid lightgrey;
}

.db-sum {
  border-right: thin solid lightgrey;
}

.db-sum:last-child {
  border-right: none;
}

.db-sum img{
  margin-bottom: 0.5rem;
}

.db-story-fe {
  border-left: thin solid lightgrey;
}

.caption {
  margin-top: 1rem;
  color: grey;
}

.author-contact {
  margin-top: 1rem;
}

.breaking-time {
  color: #a81817;
}

/* ===== HEADER ================================== */

#menu a img {
  height: 5.5rem;
}

#stickyheader .tab-bar-section.middle,
#stickyalias .tab-bar-section.middle {
  top: 0rem;
}

.db-top-date {
  margin-left: 2rem;
  margin-right: 2rem;
}

.db-top-date p {
  color: grey;
  font-size: 1rem;
   width: 100%; 
   text-align: center; 
   border-bottom: 3px solid lightgrey; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.db-top-date p span { 
    background:#fff; 
    padding:0 10px; 
}

#stickyheader {
    width: 100%;
    background: white;
    z-index: 1000;
}

@media (min-width: 640px) {
  #stickyheader{
      height: 7rem;
  }
}

#stickyalias {
  display: none;
  z-index: 1000;
}

#stickyalias img {
  height: 2.7rem;
  z-index: 1000;
}
#stickyalias .tab-bar{
  height: 3.5rem;
  line-height: 3.5rem;
}
#stickyalias .menu-icon{
  height: 3.8rem;
}

#stickyalias .search-icon{
  position: relative;
  top: -0.9rem;
}

#stickyalias .search-icon i {
  display: inline;
  font-size: 1.2rem;
  line-height: 4.3rem;
  color: black;
}

.gsc-search-button input {
  background-image: inherit;
  box-sizing: content-box;
}

.gsc-inline-block .gsc-selected-option-container {
  width: auto !important;
}

.gsc-control-cse table,
.gsc-input .gsc-input-box  {
  border: none;
  margin-bottom: 0;
}

#search {
  position: fixed;
  top: 10% !important;
  max-height: 80vh;
  min-height: 0;
  overflow-y: auto;
}

#search .close-reveal-modal {
  color: grey;
  font-size: 1.5rem;
}

#menu {
  border-radius: 0;
  height: 100vh;
  overflow-y: auto;
  top: 0px !important;
  position: fixed;
  border: none;
  right: initial;
  width: 200px;
  background-color: #222;
  padding:0.5rem 1.5rem 0 0.4rem;
}

#menu .close-reveal-modal {
  font-size: 1.5rem;
}

#menu .close-reveal-modal i {
  color: lightgrey;
}

#menu label {
  color: white;
}
#menu ul {
  border-bottom: solid thin grey;
  padding-top: 0.8rem;
  margin-bottom: 0;
}
#menu ul:nth-child(2) {
  padding-top: 1rem;
}
#menu ul:last-child {
  border-bottom: none;
}

#menu li {
  
}
#menu hr {
  color: lightgrey;
}
#menu li a {
  display: block;
  margin-right: 1rem;
  padding: 0rem;
  padding-bottom: 0.8rem;
  font-size: 0.85rem;
  border-bottom: none;
  color: white;
}


#topMenu > li span:before {
  display: inline-block;
  font-family: FontAwesome;
    margin-right: 6px;
    font-weight: normal;
    font-size: 0.85rem;
    width: 16px;
}

.menu-news span:before {
  content: "\f1ea";
}

.menu-opinion span:before {
  content: "\f059";
}

.menu-sports span:before {
  content: "\f17d";
}

.menu-ae span:before {
  content: "\f008";
}

.menu-photo span:before {
  content: "\f030";
}

.menu-radio span:before {
  content: "\f0a1";
}

.menu-video span:before {
  content: "\f03d";
}

.menu-prime span:before {
  content: "\f10d";
}

.menu-mojo span:before {
  content: "\f1eb";
}

.menu-classifieds span:before {
  content: "\f075";
}

.menu-facebook span:before {
  content: "\f082";
}

.menu-twitter span:before {
  content: "\f081";
}

.menu-github span:before {
  content: "\f092";
}

.menu-youtube span:before {
  content: "\f16a";
}

.menu-rss span:before {
  content: "\f143";
}

.social-right i {
  padding-left: 0.5rem;
  font-size:1rem;
}


/* ===== Special features (default styles) ================================== */
#featuredProject > div {
  margin-top:10px;
  margin-bottom:10px;
  background-color:#f5f5f5;
  color:black;
}
#featuredProject > div > div {
  padding:5px 20px;
}
#featuredProject h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1.8rem;
  color:black;
  display:block;
  float:left;
  margin:0;
  margin-top: 10px;
  margin-bottom: 10px;
}
#featuredProject h4 {
  color:grey;
  font-weight: 400;
  display:block;
  float:left;
  margin:0;
  margin-top: 10px;
  margin-bottom: 10px;
}
#featuredProject p {
  line-height: 1.45rem;
  font-size: 0.80rem;
}

#featuredProject .sections > li > a:hover {
  color:black;
}
#featuredProject ul.sections {
    margin-top: 10px;
}
#featuredProject .featuredlink {
    display: block;
    color: white;
    background-color: #515791;
    float: left;
    padding: 7px;
  padding-left: 20px;
  margin-left: -20px;
    font-weight: bold;
    margin-bottom: 13px;
}
#featuredProject img {
    float: right;
    margin-bottom: 10px;
    margin-left: 8px;
}



.side-ads {
    margin: 30px 0;
}

.db-story-m {
  padding-right: 25px;
  display:none;
}

.db-story-m hr {
  border: white;
}

#multSlider li {
  position: relative;

}

.front-mult {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  margin: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}
.db-off-canvas-wrap .db-content {
    .front-mult h2 a,
    .front-mult h4,
    .front-mult h5{
      color: white;
    }
    .front-mult h2 {
      font-size: 1.5rem;
    }
}

/* ===== Sidebar ========================================================
   Author:
   ========================================================================== */

#sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.db-classifieds li{
  list-style-type: none;
}

.db-classifieds .sidebar-more {
  padding-top:10px;
    margin-bottom: 0px;
    margin-left: -15px;
    display: block;
    text-transform: uppercase;
    border-top: thin solid lightgrey;
}
.sidebar-more {
    margin-bottom: -15px;
    display: block;
}

.textwidget {
  margin-bottom:10px;
    min-height: 142px;
}

#sidebar-list > li {
    display: block;
    border: 1px solid #adadad;
    padding: 0 15px 0 7px;
    margin-top: 15px;
    padding-bottom: 15px;
    position:relative;
}
#sidebar-list > li.sidebar-clean {
  border:none;
  padding:0;
}
#sidebar-list > li > .sidebar-more:last-child > a {
  display:block;
    border-top: 1px solid #ababab;
    margin: 0 -7px;
    padding: 5px 7px;
    text-align: center;
}
#sidebar-list > li > .sidebar-more:last-child > a:hover {
}
#sidebar-list > li > h4:first-child {
    margin: 0 -7px;
    padding: 10px 7px;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2;
}

.sidebar ul.misc {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
}

.sidebar ul.misc > li {
    padding: 0.1em 0;
}



/* ===== Classifieds ========================================================
   Author:
   ========================================================================== */
/*new additions*/
.classifieds-page {
  margin-top: 20px;
}

#classifieds-ads {
  margin-top: 20px;
  border-left: thin solid lightgrey;
  border-right: thin solid lightgrey;
}

/*from old code*/
.db-classifieds #classifieds-container {
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -15px;
    margin-top: -5px;
}

#classifieds-container {
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -7px;
    margin-bottom: 0;
    margin-top: -14px;
}

#classifieds-container > div {
    padding-top: 12px;
}
#classifieds-container p {
    border-bottom: 1px solid #adadad;
    padding-bottom: 10px;
}
#classifieds-container p:last-child {
  padding-bottom:0;
  border-bottom:none;
}
a.classifieds-button {
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 13px;
  width: 100%;
  padding: 8px;
  margin-bottom: 6px;

  width: calc(100% - 15px);
  width: -webkit-calc(100% - 15px);
  width: -moz-calc(100% - 15px);
}
.classifieds-button-group {
  width:100%;
  text-align:center;
  margin-bottom:13px;
}

/* ===== Poll ========================================================
   Author:
   ========================================================================== */
.poll-question {
  font-family:"Helvetica", sans-serif;
  font-size: 1em;
  display: block;
  margin-bottom: 10px;
}
.wp-polls-form, .wp-polls {
    font-family:"Helvetica", sans-serif;
}
.wp-polls-form > submit {
  text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.wp-polls-ul {
  list-style: none;
  margin: 0;
  margin-left: -7px;
  margin-right: -7px;
}
.wp-polls-ul > li {
  padding:10px;
}
.wp-polls-ul > li:nth-child(2n-1) {
  background-color: #F2F2F2;
}
.poll-view-results {
    color: #333;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 1em;
}

a#poll-past, span.multimedia-more {
    font-family: "Helvetica Neue";
    font-size: 1em;
    font-weight: normal;
    padding-left: 11px;
}


div#poll h2 img {
    position: relative;
    bottom: 5px;
    padding-left: 10px;
    opacity:0.3;
}

div#poll form {
/*     padding: 0 15px; */
}

.wp-polls-form label {
  font-size: 1em;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 1rem;
}

div#poll form label.radio {
  margin-bottom:13px;
}

.radio input, .checkbox {
min-height: 20px;
margin-left: -17px !important;
margin-right: 5px !important;
margin-bottom: 0 !important;
}

/* css3 for coloring each pollbars */
.wp-polls-ul li:nth-child(01) .pollbar{ background:#BF0C43}
/*
.wp-polls-ul li:nth-child(01) .pollbar{ background:#BF0C43}
.wp-polls-ul li:nth-child(02) .pollbar{ background:#F9BA15}
.wp-polls-ul li:nth-child(03) .pollbar{ background:#8EAC00}
.wp-polls-ul li:nth-child(04) .pollbar{ background:#127A97}
.wp-polls-ul li:nth-child(05) .pollbar{ background:#452B72}
.wp-polls-ul li:nth-child(06) .pollbar{ background:#BF0C43}
.wp-polls-ul li:nth-child(07) .pollbar{ background:#F9BA15}
.wp-polls-ul li:nth-child(08) .pollbar{ background:#8EAC00}
.wp-polls-ul li:nth-child(09) .pollbar{ background:#127A97}
.wp-polls-ul li:nth-child(10) .pollbar{ background:#452B72}
*/

/* ===== Audio player ========================================================
   Author:
   ========================================================================== */



.audio-playlist {overflow: hidden; padding: 10px; background: #f6f6f6;
  border: 1px solid #ddd; margin-bottom: 10px; border-radius: 3px 3px;}
.audio-playlist span, .audio-playlist abbr, .audio-playlist a {display: none}
.audio-playlist img {display: block}
.audio-playlist .haudio {display: none}
.audio-playlist .fn {float: left; width: 110px; display: block; font: 11px arial}
.audio-playlist .album {font-style: italic}

/*************************/

/* PLAYER
 --------------*/
.now-playing {
  color:#F6F6F6;
}
.now-playing > span {
  color:#333;
}
 
.jp-player {width: 0; height: 0} 
.list-playlist .jp-playlist-player {margin-bottom: 20px}
.jp-interface {position: relative; display: block; width: 100%; height: auto}

.now-playing {width: 75%; min-height: 50px; display: block; top: 0; left: 0; font: bold 12px/15px arial}
.now-playing span {text-transform: none; display: block; font: 16px/21px arial}
.now-playing span.audio-songartist {display:none;} /* Custom CSS rule! -BL */

.jp-interface .jp-controls {margin: 0}

.jp-controls {position: absolute; top: -2px; right: -1px; overflow: hidden; 
  margin: 0 !important; list-style: none !important}
.jp-controls li {float: left; margin-left: 2px}
.jp-controls a {display: block; cursor: pointer; background: url(/wp-content/plugins/audio/css/images/icons_master.png) no-repeat;}
.jp-controls .jp-play {background-position: -27px -35px; width: 31px; height: 31px}
.jp-controls .jp-pause {background-position: -27px 0; width: 31px; height: 31px}
.jp-controls .jp-previous {background-position: 0 -39px; width: 23px; height: 23px; margin-top: 5px}
.jp-controls .jp-next {background-position: -62px -39px; width: 23px; height: 23px; margin-top: 5px}
.jp-controls .jp-stop, .jp-volume {display: none}

.jp-progress {display: block; width: 80%; height: 4px; position: absolute; left: 0; bottom: 0;
  background: #fff; border: 1px solid #dedede; overflow: hidden; cursor: pointer}
.jp-load-bar {display: block; height: 4px; background: #dedede; overflow: hidden}
.jp-play-bar {display: block; height: 4px; background: #333; overflow: hidden}
.jp-play-bar span {display: block; width: 100%; height: 4px; position: relative;
   background: #333; overflow: hidden}

.jp-current-time, .jp-duration {display: inline;}  
.jp-play-time-all {position: absolute; bottom: -3px; right: 5px; display: block; text-align: right;
  font: bold 12px/12px arial;}


/* ====== 404 ===== */
.f-title {
  display: block;
  font-size: 8em;
  line-height: 1.4em;
}
.f-desc {
    display: block;
    font-size: 1.5em;
    line-height: 2;
}
.fourohfour > p {
  width: 90%;

  text-align: left;
}
.f-search {
  text-align: center;
}
