$db-nav-bg-color: #313232;
$db-classifieds-bg-color: #d9d9d8;
$db-blue: #0080c6;

@import "settings";
@import "foundation";

$db-nav-width: rem-calc(125);
$db-nav-padding: rem-calc(10);

$db-ad-leaderboard-width: rem-calc(728);
$db-ad-rectangle-width: rem-calc(320);
$db-ad-banner-width: rem-calc(468);
$db-ad-padding: rem-calc(10);

$db-masthead-description-size: rem-calc(10);
$db-masthead-subcategory-size: rem-calc(36);

@media print {
  @import 'print';
}
