/* === The Quad =================================== */
// used for paragraphs at http://dailybruin.com/category/quad/
.quad-explainer {
  text-align: left;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
// .db-story-breaking-1 is basically "the quad" section on the homepage now; it can also be targeted by .large-4
.db-story-breaking-1 {
  border-bottom: thin lightgrey solid;
}
.db-story-breaking-1:last-child {
  border-bottom: none;
}
.db-story-breaking-1 h3 a {
  font-weight: normal;
}
