// applies to http://dailybruin.com/gsa-endorsements-2014/
// extracted from pages/page-op-gsa-endorsements-2014.php

.thumbnails img {
    width: 100%;
    height: 240px;
    -webkit-filter: grayscale(100%);
    &:hover {
        -webkit-filter: grayscale(0%);
    }
    &.check {
        width: 20px;
        height: auto;
    }
}
.endorsed {
    display: inline-block;
    .check-big {
        width: 30px;
        height: auto;
    }
}
