// applies to
// extracted from pages/page-major-stats-2013.php

#single-post div.large-12.columns {
  background-color: #d6f2f5;
  background-image: linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
  background-image: -o-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
  background-image: -moz-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
  background-image: -webkit-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
  background-image: -ms-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #d6f2f5), color-stop(0.75, #6ecfdb));
}
#poll {
  width: 940px;
  margin: 0 auto 0 auto;
  div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  #numbers {
    height: 210px;
    width: 940px;
    padding-left: 50px;
    background-color: #6ecfdb;
    background-image: linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -o-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -moz-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -webkit-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -ms-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #d6f2f5), color-stop(0.75, #6ecfdb));
    td {
      width: 215px;
      text-align: center;
      vertical-align: middle;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 50px;
      font-weight: bold;
      p {
        font-size: 20px;
      }
    }
  }
  #leftTransition {
    clear: both;
    width: 0;
    height: 0;
    border-top: 0px;
    border-left: 50px solid transparent;
    border-top: 50px solid #6ecfdb;
    float: left;
  }
  #rightTransition {
    width: 0;
    height: 0;
    border-top: 0px;
    border-right: 50px solid transparent;
    border-top: 50px solid #29afbf;
    float: right;
  }
  #transition {
    width: 840px;
    height: 50px;
    margin-left: 50px;
    background-color: #29afbf;
    background-image: linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -o-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -moz-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -webkit-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -ms-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #6ecfdb), color-stop(0.75, #29afbf));
  }
  #axis {
    width: 840px;
    height: 50px;
    margin-left: 50px;
    background-color: #6ecfdb;
    background-image: linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -o-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -moz-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -webkit-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -ms-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #d6f2f5), color-stop(0.75, #6ecfdb));
    li {
      float: left;
      width: 210px;
      text-align: center;
      line-height: 50px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 20px;
      font-weight: bold;
    }
  }
  #axisBottom {
    width: 840px;
    margin-left: 50px;
    height: 1px;
    background-color: #29afbf;
    background-image: linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -o-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -moz-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -webkit-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -ms-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #6ecfdb), color-stop(0.75, #29afbf));
    box-shadow: 5px 5px 5px #888;
  }
  #leftContainer {
    width: 0;
    height: 0;
    border-top: 0px;
    border-left: 50px solid transparent;
    border-bottom: 300px solid #d6f2f5;
    float: left;
  }
  #rightContainer {
    width: 0;
    height: 0;
    border-top: 0px;
    border-right: 50px solid transparent;
    border-bottom: 300px solid #6ecfdb;
    float: right;
  }
  #graphContainer {
    height: 300px;
    width: 840px;
    position: relative;
    margin-left: 50px;
    background-color: #6ecfdb;
    background-image: linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -o-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -moz-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -webkit-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -ms-linear-gradient(left , #d6f2f5 0%, #6ecfdb 75%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #d6f2f5), color-stop(0.75, #6ecfdb));
    img {
      position: absolute;
      height: 50px;
    }
  }
  #bottomContainer {
    width: 940px;
    height: 10px;
    background-color: #29afbf;
    background-image: linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -o-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -moz-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -webkit-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -ms-linear-gradient(left , #6ecfdb 0%, #29afbf 75%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #6ecfdb), color-stop(0.75, #29afbf));
  }
  img#loader {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
  }
  .graphColumn {
    float: left;
    width: 300px;
  }
  table {
    width:100%;
    font-size: 12px;
    &.sortable thead {
      background-color:#eee;
      color:#666666;
      font-weight: bold;
      cursor: default;
    }
  }
  thead {
    border-collapse-bottom: 2px;
  }
  td,
  th {
    text-align: center;
    padding: 10px;
    width:50px;
  }
}
.relatedArticlesDoe {
  height: 200px;
  background-color: #d6f2f5;
  padding: 10px;
  &:hover {
    background-color: #6ecfdb;
  }
}
#myMenu {
  float: right;
}
