// applies to http://dailybruin.com/radio-about-the-hosts/
// extracted from pages/page-radio-hosts.php

.email img {
    width: 19px;
}
#rh-title {
    margin-bottom: 1em;
    font-size: 35px;
}
.rh-infobox {
    float: right;
    background-color: #FAFAFA;
    padding: 0.5em 1em;
    border: 1px solid #DDD;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.row-fluid {
    overflow:auto;
    margin-bottom:5px;
}
#subtitle {
    font-size:25px;
}
#out-of-bounds {
    padding-top:2cm;
}
