#regissue-cover {
  background-image: url('http://dailybruin.com/images/2014/09/Background-Landing-RGB-Crop1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#cover-title {
  text-align:center;
  padding-top: 30px;
  background-color: rgba(255,255,255,0.6);
  h2 {
    font-family: 'Open Sans';
    font-size: 3em;
  }
}
#editors-note {
  padding: 20px;
  background-color: rgba(255,255,255,0.6);
}
.reg-section {
  background-color: rgba(255,255,255,0.6);
}
.reg-section-title {
  text-align: center;
  font-family: 'Open Sans Condensed';
}
#sections {
  padding-top: 60%;
}
.sidebar a {
  box-shadow: 0 2px 4px rgba(0,0,0, 0.3);
  margin-top: 5px;
  position: relative;
  display: block;
}
.feature-img-1 {
  position: relative;
  h2 {
    position: absolute;
    top: 20px;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.6);
  }
}
.feature-img-2 h4, h5 {
  position: absolute;
  top: 10px;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.6);
}
a:hover h2, a:hover h3, a:hover h4, a:hover h5{
  text-decoration: underline;
}
#feature-stories {
  position: relative;
  padding-top: 20px;
}
#read-all {
  height: 50px;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(255,255,255,0.6);
  font-size: 2em;
  span {
    padding-top: 15px;
    display:inline-block;
    vertical-align:middle;
}
#main-page-wrapper {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  a {
    color: black;
    text-decoration: underline;
  }
}
#videos-section {
  margin-top: 20px;
}
